{include="header"}

<form name="f_347" action="{$fsc->url()}" method="post" class="form">
   <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group">
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               {if condition="$fsc->page->is_default()"}
               <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {/if}
            </div>
            
            {if="$fsc->url_descarga!=''"}
            <a class="btn btn-sm btn-default" href="{$fsc->url_descarga}">
               <span class="glyphicon glyphicon-download-alt"></span> &nbsp; Descargar
            </a>
            {/if}
         </div>
         <div class="col-sm-6 text-right">
            <h2 style="margin-top: 0px;">Modelo 347</h2>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4">
            <div class="form-group">
               Clientes que han comprado más de...
               <div class="input-group">
                  <input class="form-control text-right" type="text" name="cantidad" value="{$fsc->cantidad}" autocomplete="off"/>
                  <span class="input-group-addon">{$fsc->simbolo_divisa()}</span>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               en el año:
               <select class="form-control" name="ejercicio" onchange="document.f_347.submit()">
               {loop="$fsc->ejercicio->all()"}
                  {if condition="$fsc->sejercicio==$value->year()"}
                  <option value="{$value->year()}" selected="selected">{$value->year()}</option>
                  {else}
                  <option value="{$value->year()}">{$value->year()}</option>
                  {/if}
               {/loop}
               </select>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">Cliente</th>
            <th class="text-left">CP</th>
            <th class="text-left">Ciudad</th>
            <th class="text-left">Provincia</th>
            <th class="text-right">1º trimestre</th>
            <th class="text-right">2º trimestre</th>
            <th class="text-right">3º trimestre</th>
            <th class="text-right">4º trimestre</th>
            <th class="text-right">Total</th>
         </tr>
      </thead>
      {loop="$fsc->datos_cli['filas']"}
      <tr>
         <td>{$value['cifnif']}</td>
         <td><a href="{$value['cliente']->url()}">{$value['cliente']->nombre}</a></td>
         <td>{$value['codpostal']}</td>
         <td>{$value['ciudad']}</td>
         <td>{$value['provincia']}</td>
         <td class="text-right">{$fsc->show_precio($value['t1'])}</td>
         <td class="text-right">{$fsc->show_precio($value['t2'])}</td>
         <td class="text-right">{$fsc->show_precio($value['t3'])}</td>
         <td class="text-right">{$fsc->show_precio($value['t4'])}</td>
         <td class="text-right">{$fsc->show_precio($value['total'])}</td>
      </tr>
      {/loop}
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_cli['totales'][0])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_cli['totales'][1])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_cli['totales'][2])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_cli['totales'][3])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_cli['totales'][4])}</b></td>
      </tr>
   </table>
</div>

<div class="container-fluid">
   <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
         <h4>
            Proveedores que nos han vendido más de <mark>{$fsc->show_precio($fsc->cantidad)}</mark>
            en el año <mark>{$fsc->sejercicio}</mark>
         </h4>
      </div>
   </div>
</div>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">Proveedor</th>
            <th class="text-left">CP</th>
            <th class="text-left">Ciudad</th>
            <th class="text-left">Provincia</th>
            <th class="text-right">1º trimestre</th>
            <th class="text-right">2º trimestre</th>
            <th class="text-right">3º trimestre</th>
            <th class="text-right">4º trimestre</th>
            <th class="text-right">Total</th>
         </tr>
      </thead>
      {loop="$fsc->datos_pro['filas']"}
      <tr>
         <td>{$value['cifnif']}</td>
         <td><a href="{$value['proveedor']->url()}">{$value['proveedor']->nombre}</a></td>
         <td>{$value['codpostal']}</td>
         <td>{$value['ciudad']}</td>
         <td>{$value['provincia']}</td>
         <td class="text-right">{$fsc->show_precio($value['t1'])}</td>
         <td class="text-right">{$fsc->show_precio($value['t2'])}</td>
         <td class="text-right">{$fsc->show_precio($value['t3'])}</td>
         <td class="text-right">{$fsc->show_precio($value['t4'])}</td>
         <td class="text-right">{$fsc->show_precio($value['total'])}</td>
      </tr>
      {/loop}
      <tr>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_pro['totales'][0])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_pro['totales'][1])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_pro['totales'][2])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_pro['totales'][3])}</b></td>
         <td class="text-right"><b>{$fsc->show_precio($fsc->datos_pro['totales'][4])}</b></td>
      </tr>
   </table>
</div>

{include="footer"}