{include="header"}

<h3 class="text-center">
   <span class="text-capitalize">{#FS_PRESUPUESTOS#}</span> de <a href="{$fsc->cliente->url()}">{$fsc->cliente->nombre}</a>
</h3>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th class="text-left">Código</th>
            <th class="text-left">Observaciones</th>
            <th class="text-right">Total</th>
            <th class="text-right">Fecha</th>
            <th class="text-right">Hora</th>
            <th class="text-right">Fecha validez</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->total<=0"} bg-warning{elseif="$value->status==2 OR $fsc->finoferta($value->finoferta,$value->idpedido)"} bg-danger{/if}" href="{$value->url()}">
         <td class="text-center">
            {if="$value->idpedido"}
            <span class="glyphicon glyphicon-paperclip" title="El {#FS_PRESUPUESTO#} tiene vinculado un {#FS_PEDIDO#}"></span>
            {/if}
            {if="$value->status==2"}
            <span class="glyphicon glyphicon-remove" title="El {#FS_PRESUPUESTO#} ha sido rechazado"></span>
            {/if}
         </td>
         <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numero2}</td>
         <td>{$value->observaciones_resume()}</td>
         <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td class="text-right">{$value->fecha}</td>
         <td class="text-right">{$value->hora}</td>
         <td class="text-right">
            {if="$value->status==0"}
            {$value->finoferta}
            {else}
            -
            {/if}
         </td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td></td>
         <td colspan="6">Ningún {#FS_PRESUPUESTO#} encontrado.</td>
      </tr>
      {/loop}
   </table>
</div>

<ul class="pager">
   {if condition="$fsc->anterior_url()!=''"}
   <li class="previous">
      <a href="{$fsc->anterior_url()}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if condition="$fsc->siguiente_url()!=''"}
   <li class="next">
      <a href="{$fsc->siguiente_url()}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

{include="footer"}