{include="header"}

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         {if="$fsc->ps_conectado"}
         <div class="btn-group">
            <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
               <span class="glyphicon glyphicon-refresh"></span>
               &nbsp; Reiniciar <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
               <li>
                  <a href="{$fsc->url()}&reset_factualizado=TRUE">
                     <span class="glyphicon glyphicon-time"></span>
                     &nbsp; Reiniciar fechas de actualización
                  </a>
               </li>
               <li>
                  <a href="{$fsc->url()}&reset=TRUE">
                     <span class="glyphicon glyphicon-exclamation-sign"></span>
                     &nbsp; Forzar re-sincronización de artículos
                  </a>
               </li>
            </ul>
         </div>
         {/if}
         <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">PrestaShop</h2>
      </div>
   </div>
</div>

{if="$fsc->ps_conectado"}
<div role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
            <span class="hidden-xs text-capitalize">&nbsp; {#FS_PEDIDOS#}</span>
            <span class="badge hidden-xs">{$fsc->total_pedidos}</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#articulos" aria-controls="articulos" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Artículos</span>
            <span class="badge hidden-xs">{$fsc->total_articulos}</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Opciones</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th></th>
                     <th>ID</th>
                     <th>Referencia</th>
                     <th class="text-right">Total</th>
                     <th>Pago</th>
                     <th>Pagado</th>
                     <th>Estado</th>                        
                     <th class="text-right">Fecha</th>
                     <th class="text-right">Hora</th>
                  </tr>
               </thead>
               {loop="$fsc->pedidos"}
               <tr class="clickableRow" href="{$fsc->url()}&id={$value['id']}">
                  <td class="text-center">
                     {if="$value['idalbaran']"}
                     <span class="glyphicon glyphicon-paperclip" aria-hidden="true" title="Este {#FS_PEDIDO#} tiene un {#FS_ALBARAN#} relacionado"></span>
                     {/if}
                  </td>
                  <td>{$value['id']}</td>
                  <td><a href="{$fsc->url()}&id={$value['id']}">{$value['referencia']}</a></td>
                  <td class="text-right">{$fsc->show_precio($value['totaliva'])}</td>
                  <td>{$value['pago']}</td>
                  <td>
                     {if="$value['estado']['pagado']"}
                     <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                     {/if}
                  </td>
                  <td>
                     <span class="label label-default" style="background-color: {$value['estado']['color']}; color: white;">
                        {$value['estado']['texto']}
                     </span>
                  </td>
                  <td class="text-right">{$value['fecha']}</td>
                  <td class="text-right">{$value['hora']}</td>
               </tr>
               {else}
               <tr class="bg-warning">
                  <td colspan="9">Sin resultados.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <ul class="pager">
            {if="$fsc->offset > 0"}
            <li class="previous">
               <a href="{$fsc->url()}&offset={$fsc->offset-FS_ITEM_LIMIT}">
                  <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
               </a>
            </li>
            {/if}
            {if="count($fsc->pedidos) == FS_ITEM_LIMIT"}
            <li class="next">
               <a href="{$fsc->url()}&offset={$fsc->offset+FS_ITEM_LIMIT}">
                  Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
            {/if}
         </ul>
      </div>
      <div role="tabpanel" class="tab-pane" id="articulos">
         <div class="container-fluid" style="margin-top: 10px;">
            <div class="row">
               <div class="col-sm-12">
                  <p>
                     Sincronizados <mark>{$fsc->total_articulos_ps}</mark> de tus
                     <mark>{$fsc->total_articulos}</mark> con PrestaShop.
                     Se sincronizarán sólo los artículos marcados como <mark>públicos</mark>.
                     Puedes verlos aquí o en Ventas &gt; Artículos &gt; Públicos.
                  </p>
               </div>
            </div>
         </div>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Familia</th>
                     <th class="text-left">Referencia + Descripción</th>
                     <th class="text-right">Precio</th>
                     <th class="text-right">Precio+{#FS_IVA#}</th>
                     <th class="text-right">Stock</th>
                  </tr>
               </thead>
               {loop="$fsc->articulos"}
               <tr class="clickableRow{if="$value->bloqueado"} bg-danger{elseif="$value->stockfis<$value->stockmin"} bg-warning{/if}" href="{$value->url()}">
                  <td>{$value->codfamilia}</td>
                  <td><a href="{$value->url()}">{$value->referencia}</a> {$value->descripcion}</td>
                  <td class="text-right"><span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp)}</span></td>
                  <td class="text-right"><span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp_iva())}</span></td>
                  <td class="text-right">{$value->stockfis}</td>
               </tr>
               {else}
               <tr class="bg-warning">
                  <td colspan="5">Ningun artículo encontrado.</td>
               </tr>
               {/loop}
            </table>
         </div>
         {if="count($fsc->articulos)==FS_ITEM_LIMIT"}
         <ul class="pager">
            <li class="next">
               <a href="index.php?page=ventas_articulos&public=TRUE&offset={#FS_ITEM_LIMIT#}">
                  Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
               </a>
            </li>
         </ul>
         {/if}
      </div>
      <div role="tabpanel" class="tab-pane" id="profile">
         <form action="{$fsc->url()}" method="post" class="form">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                        URL:
                        <input type="text" name="ps_url" value="{$fsc->ps_setup['ps_url']}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        Clave webservice:
                        <input type="text" name="ps_ws_key" class="form-control" autocomplete="off" placeholder="Ya introducida"/>
                     </div>
                  </div>
                  <div class="col-md-2">
                     <div class="form-group">
                        <a href="{$fsc->almacen->url()}">Almacén</a>:
                        <select name="ps_codalmacen" class="form-control">
                        {loop="$fsc->almacen->all()"}
                           {if condition="$value->codalmacen==$fsc->ps_setup['ps_codalmacen']"}
                           <option value="{$value->codalmacen}" selected='selected'>{$value->nombre}</option>
                           {else}
                           <option value="{$value->codalmacen}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-md-2">
                     <div class="form-group">
                        <a href="{$fsc->serie->url()}">Serie</a>:
                        <select name="ps_codserie" class="form-control">
                        {loop="$fsc->serie->all()"}
                           {if condition="$value->codserie==$fsc->ps_setup['ps_codserie']"}
                           <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codserie}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-md-2">
                     <div class="form-group">
                        Usar precio de:
                        <select name="ps_precio" class="form-control">
                           <option value="pvp_iva"{if="$fsc->ps_setup['ps_precio']=='pvp_iva'"} selected="selected"{/if}>PVP+{#FS_IVA#}</option>
                           <option value="pvp"{if="$fsc->ps_setup['ps_precio']=='pvp'"} selected="selected"{/if}>PVP</option>
                           {loop="$fsc->tarifa->all()"}
                           <option value="{$value->codtarifa}"{if="$fsc->ps_setup['ps_precio']==$value->codtarifa"} selected="selected"{/if}>{$value->nombre}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row">
                  {loop="$fsc->impuesto->all()"}
                  <div class="col-md-2">
                     {$value->descripcion}
                     <select name="ps_codimp_{$value->codimpuesto}" class="form-control">
                        {loop="$fsc->ps_taxes"}
                           {if="$value2['id']==$fsc->ps_setup['ps_codimp_'.$value1->codimpuesto]"}
                           <option value="{$value2['id']}" selected="selected">{$value2['name']}</option>
                           {else}
                           <option value="{$value2['id']}">{$value2['name']}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
                  {/loop}
               </div>
               <div class="row" style="margin-top: 10px;">
                  <div class="col-md-3">
                     <div class="form-group">
                        Artículos comprobados por ciclo:
                        <input type="number" name="ps_max_updates" value="{$fsc->ps_setup['ps_max_updates']}" class="form-control" autocomplete="off"/>
                     </div>
                  </div>
                  <div class="col-md-9 text-right">
                     <br/>
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                     </button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>
{else}
<form action="{$fsc->url()}" method="post" class="form">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-4">
            <div class="form-group">
               URL:
               <input type="text" name="ps_url" value="{$fsc->ps_setup['ps_url']}" class="form-control" autocomplete="off"/>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               Clave webservice:
               <input type="text" name="ps_ws_key" value="{$fsc->ps_setup['ps_ws_key']}" class="form-control" autocomplete="off"/>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               <a href="{$fsc->almacen->url()}">Almacén</a>:
               <select name="ps_codalmacen" class="form-control">
               {loop="$fsc->almacen->all()"}
                  {if condition="$value->codalmacen==$fsc->ps_setup['ps_codalmacen']"}
                  <option value="{$value->codalmacen}" selected='selected'>{$value->nombre}</option>
                  {else}
                  <option value="{$value->codalmacen}">{$value->nombre}</option>
                  {/if}
               {/loop}
               </select>
            </div>
         </div>
         <div class="col-md-2">
            <div class="form-group">
               <a href="{$fsc->serie->url()}">Serie</a>:
               <select name="ps_codserie" class="form-control">
               {loop="$fsc->serie->all()"}
                  {if condition="$value->codserie==$fsc->ps_setup['ps_codserie']"}
                  <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
                  {else}
                  <option value="{$value->codserie}">{$value->descripcion}</option>
                  {/if}
               {/loop}
               </select>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
            </button>
         </div>
      </div>
   </div>
</form>
{/if}

{include="footer"}