{include="header2"}

{if="$fsc->articulo"}
<script type="text/javascript">
   $(document).ready(function() {
      if( $("#cb_activo").prop('checked') )
      {
         $("#g_redireccionar").hide();
      }
      $("#cb_activo").click(function() {
         if( $("#cb_activo").prop('checked') )
         {
            $("#g_redireccionar").hide();
         }
         else
         {
            $("#g_redireccionar").show();
         }
      });
   });
</script>

<form action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="ref" value="{$fsc->articulo->referencia}"/>
   <input type="hidden" name="debug" value="FALSE" id="ps_debug"/>
   <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">
         <div class="col-sm-3">
            <div class="{if="$fsc->articulo->publico"}has-success{else}has-error{/if}">
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="publico" value="TRUE"{if="$fsc->articulo->publico"} checked="checked"{/if}/>
                     Publicar
                  </label>
               </div>
            </div>
            <div class="form-group">
               ID de PrestaShop:
               <div class="form-control">
                  {if="isset($fsc->apropiedades['id_prestashop'])"}
                  {$fsc->apropiedades['id_prestashop']}
                  {/if}
               </div>
               <label>
                  <input type="checkbox" name="activo" value="TRUE" id="cb_activo"{if="$fsc->apropiedades['ps_activo']"} checked="checked"{/if}/>
                  Producto activo
               </label>
            </div>
            <div id="g_redireccionar" class="form-group">
               Redirección:
               <select name="redireccion" class="form-control">
                  <option value="404"{if="$fsc->apropiedades['ps_redireccion']=='404'"} selected="selected"{/if}>Ninguna redirección (404)</option>
                  <option value="301"{if="$fsc->apropiedades['ps_redireccion']=='301'"} selected="selected"{/if}>Redireccionado permanente (301)</option>
                  <option value="302"{if="$fsc->apropiedades['ps_redireccion']=='302'"} selected="selected"{/if}>Redireccionado temporal (302)</option>
               </select>
               <input name="redireccion_id" class="form-control" placeholder="ID PrestaShop al que redireccionar" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-9">
            <div class="form-group">
               Descripción corta:
               <textarea name="desc_corta" rows="1" class="form-control">{$fsc->apropiedades['ps_desc_corta']}</textarea>
            </div>
            <div class="form-group">
               Descripción larga:
               <textarea name="desc_larga" rows="3" class="form-control">{$fsc->apropiedades['ps_desc_larga']}</textarea>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <h3 style="margin-top: 0px;">Precio</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-3">
            <div class="form-group">
               Usar precio de:
               <select name="precio" class="form-control">
                  <option value="pvp_iva"{if="$fsc->apropiedades['ps_precio']=='pvp_iva'"} selected="selected"{/if}>PVP+{#FS_IVA#}</option>
                  <option value="pvp"{if="$fsc->apropiedades['ps_precio']=='pvp'"} selected="selected"{/if}>PVP</option>
                  {loop="$fsc->tarifa->all()"}
                  <option value="{$value->codtarifa}"{if="$fsc->apropiedades['ps_precio']==$value->codtarifa"} selected="selected"{/if}>{$value->nombre}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Precio en oferta:
               <div class="input-group">
                  <span class="input-group-addon">{$fsc->simbolo_divisa()}</span>
                  <input type="text" name="oferta" value="{$fsc->apropiedades['ps_oferta']}" class="form-control" autocomplete="off"/>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Fecha de inicio:
               <input type="text" name="oferta_desde" value="{$fsc->apropiedades['ps_oferta_desde']}" class="form-control datepicker" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Fecha fin:
               <input type="text" name="oferta_hasta" value="{$fsc->apropiedades['ps_oferta_hasta']}" class="form-control datepicker" autocomplete="off"/>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <h3 style="margin-top: 10px;">Transporte</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-2">
            <div class="form-group">
               Anchura del paquete:
               <div class="input-group">
                  <span class="input-group-addon">cm</span>
                  <input type="text" name="anchura" value="{$fsc->apropiedades['ps_anchura']}" class="form-control" autocomplete="off"/>
               </div>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Altura del paquete:
               <div class="input-group">
                  <span class="input-group-addon">cm</span>
                  <input type="text" name="altura" value="{$fsc->apropiedades['ps_altura']}" class="form-control" autocomplete="off"/>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Profundidad del paquete:
               <div class="input-group">
                  <span class="input-group-addon">cm</span>
                  <input type="text" name="profundidad" value="{$fsc->apropiedades['ps_profundidad']}" class="form-control" autocomplete="off"/>
               </div>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Peso del paquete:
               <div class="input-group">
                  <span class="input-group-addon">kg</span>
                  <input type="text" name="peso" value="{$fsc->apropiedades['ps_peso']}" class="form-control" autocomplete="off"/>
               </div>
            </div>
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               Gastos de envío adicionales:
               <div class="input-group">
                  <span class="input-group-addon">{$fsc->simbolo_divisa()}</span>
                  <input type="text" name="gastos_envio" value="{$fsc->apropiedades['ps_gastos_envio']}" class="form-control" autocomplete="off"/>
               </div>
               <p class="help-block">Para un sólo artículo.</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <h3 style="margin-top: 0px;">Meta</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <div class="form-group">
               Meta-title:
               <input type="text" name="meta_title" value="{$fsc->apropiedades['ps_meta_title']}" class="form-control" autocomplete="off"/>
            </div>
            <div class="form-group">
               Meta-keywords:
               <input type="text" name="meta_keywords" value="{$fsc->apropiedades['ps_meta_keywords']}" class="form-control" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="form-group">
               Meta-descripcion:
               <textarea name="meta_description" rows="4" class="form-control">{$fsc->apropiedades['ps_meta_description']}</textarea>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <h3 style="margin-top: 0px;">Disponibilidad</h3>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-10">
            <div class="form-group">
               Texto mostrado cuando no hay existencias, pero son permitidos los pedidos pendientes:
               <input type="text" name="txt_no_disponible" value="{$fsc->apropiedades['ps_txt_no_disponible']}" class="form-control"/>
            </div>
         </div>
         <div class="col-sm-2 text-right">
            <br/>
            <div class="btn-group">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
               <button class="btn btn-sm btn-info" type="button" onclick="this.disabled=true;$('#ps_debug').val('TRUE');this.form.submit();" title="Guardar en modo debug">
                  <span class="glyphicon glyphicon-info-sign"></span>
               </button>
            </div>
         </div>
      </div>
   </div>
</form>
{/if}

{include="footer2"}