{include="header"}

{if="$fsc->pedido"}
<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-sm-6">
         <a class="btn btn-sm btn-default" href="{$fsc->url()}&id={$fsc->pedido['id']}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         
         <a class="btn btn-sm btn-default" href="{$fsc->url()}">
            <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; PrestaShop
         </a>
         
         <div class="btn-group">
            {if="$fsc->pedido['estado']['cancelado']"}
            <a class="btn btn-sm btn-danger" href="#">
               <span class="glyphicon glyphicon-remove"></span> &nbsp; Cancelado
            </a>
            {elseif="!$fsc->pedido['idalbaran']"}
            <a class="btn btn-sm btn-info" href="{$fsc->url()}&id={$fsc->pedido['id']}&import=TRUE">
               <span class="glyphicon glyphicon-import"></span> &nbsp; Importar
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&id={$fsc->pedido['id']}&import=TRUE">
               <span class="glyphicon glyphicon-eye-open"></span> &nbsp; Ver {#FS_ALBARAN#}
            </a>
            {/if}
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-sm-6 text-right">
         <h2 style="margin-top: 0px;">Pedido #{$fsc->pedido['id']}</h2>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-3">
         <div class="form-group">
            Nombre:
            <div class="form-control">{$fsc->pedido['cliente']['nombre']}</div>
         </div>
      </div>
      <div class="col-sm-3">
         <div class="form-group">
            Email:
            <div class="form-control">{$fsc->pedido['cliente']['email']}</div>
         </div>
      </div>
      <div class="col-sm-2">
         <div class="form-group">
            Fecha:
            <div class="form-control">{$fsc->pedido['fecha']}</div>
         </div>
      </div>
      <div class="col-sm-2">
         <div class="form-group">
            Hora:
            <div class="form-control">{$fsc->pedido['hora']}</div>
         </div>
      </div>
      <div class="col-sm-2">
         <div class="form-group">
            Estado:
            <span class="form-control" style="background-color: {$fsc->pedido['estado']['color']}; color: white;">{$fsc->pedido['estado']['texto']}</span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-2">
         <div class="form-group">
            Teléfono:
            <div class="form-control">{$fsc->pedido['direccion']['telefono']}</div>
         </div>
      </div>
      <div class="col-sm-2">
         <div class="form-group">
            Teléfono2:
            <div class="form-control">{$fsc->pedido['direccion']['telefono2']}</div>
         </div>
      </div>
      <div class="col-sm-2">
         <div class="form-group">
            {#FS_CIFNIF#}:
            <div class="form-control">{$fsc->pedido['direccion']['dni']}</div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-6">
         <h3>Líneas:</h3>
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th>Artículo</th>
                     <th class="text-right">Cantidad</th>
                     <th class="text-right">Precio</th>
                  </tr>
               </thead>
               {loop="$fsc->pedido['lineas']"}
               <tr class="clickableRow" href="index.php?page=ventas_articulo&ref={$value['referencia']}">
                  <td>
                     <a href="index.php?page=ventas_articulo&ref={$value['referencia']}">{$value['referencia']}</a>
                     {$value['descripcion']}
                  </td>
                  <td class="text-right">{$value['cantidad']}</td>
                  <td class="text-right">{$fsc->show_precio($value['precio'])}</td>
               </tr>
               {/loop}
               {if="$fsc->pedido['descuento']!=0"}
               <tr>
                  <td colspan="2" class="text-right">Descuentos:</td>
                  <td class="text-right">
                     {$fsc->show_precio(0-$fsc->pedido['descuento'])}
                  </td>
               </tr>
               {/if}
               {if="$fsc->pedido['gastosenvio']!=0"}
               <tr>
                  <td colspan="2" class="text-right">Transporte:</td>
                  <td class="text-right">
                     {$fsc->show_precio($fsc->pedido['gastosenvio'])}
                  </td>
               </tr>
               {/if}
               <tr>
                  <td colspan="2" class="text-right">Neto:</td>
                  <td class="text-right">
                     {$fsc->show_precio($fsc->pedido['total'])}
                  </td>
               </tr>
               <tr>
                  <td colspan="2" class="text-right">IVA:</td>
                  <td class="text-right">
                     {$fsc->show_numero($fsc->pedido['iva'])}%
                  </td>
               </tr>
               <tr>
                  <td colspan="2" class="text-right">
                     <b>Total:</b>
                  </td>
                  <td class="text-right">
                     <b>{$fsc->show_precio($fsc->pedido['totaliva'])}</b>
                  </td>
               </tr>
            </table>
         </div>
      </div>
      <div class="col-sm-3">
         <h3>Pago:</h3>
         <ul class="list-group">
            <li class="list-group-item">Referencia: {$fsc->pedido['referencia']}</li>
            <li class="list-group-item">{$fsc->pedido['pago']}</li>
            <li class="list-group-item">
               {if="$fsc->pedido['estado']['pagado']"}
               <span class="glyphicon glyphicon-ok"></span> &nbsp; Pagado
               {else}
               <span class="glyphicon glyphicon-remove"></span> &nbsp; Todavía sin pagar
               {/if}
            </li>
         </ul>
      </div>
      <div class="col-sm-3">
         <h3>Dirección:</h3>
         <ul class="list-group">
            <li class="list-group-item">País: {$fsc->pedido['direccion']['pais']['nombre']}</li>
            <li class="list-group-item">Ciudad: {$fsc->pedido['direccion']['ciudad']}</li>
            <li class="list-group-item">{$fsc->pedido['direccion']['direccion']}</li>
            <li class="list-group-item">CP: {$fsc->pedido['direccion']['codpostal']}</li>
         </ul>
      </div>
   </div>
</div>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}