{include="header"}

{if="$fsc->albaran"}
{if="$fsc->albaran->ptefactura"}
<script type="text/javascript" src="plugins/facturacion_base/view/js/nueva_compra.js"></script>
<script type="text/javascript">
   numlineas = {function="count($fsc->albaran->get_lineas())"};
   fs_nf0 = {#FS_NF0#};
   all_impuestos = {function="json_encode($fsc->impuesto->all())"};
   all_series = {function="json_encode($fsc->serie->all())"};
   proveedor = {function="json_encode($fsc->proveedor_s)"};
   nueva_compra_url = '{$fsc->nuevo_albaran_url}';
   kiwimaru_url = '{#FS_COMMUNITY_URL#}/index.php?page=kiwimaru';
   precio_compra = '{#FS_PRECIO_COMPRA#}';
   
   {if="$fsc->empresa->recequivalencia"}
   tiene_recargo = true;
   {/if}
   
   $(document).ready(function() {
      $("#numlineas").val(numlineas);
      usar_serie();
      recalcular();
      $("#ac_proveedor").autocomplete({
         serviceUrl: nueva_compra_url,
         paramName: 'buscar_proveedor',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_albaran.proveedor.value != suggestion.data && suggestion.data != '')
               {
                  document.f_albaran.proveedor.value = suggestion.data;
                  usar_proveedor(suggestion.data);
               }
            }
         }
      });
   });
</script>
{else}
<script type="text/javascript">
   $(document).ready(function() {
      {if="$fsc->albaran->totalrecargo==0"}
      $(".recargo").hide();
      {/if}
      {if="$fsc->albaran->totalirpf==0"}
      $(".irpf").hide();
      {/if}
   });
</script>
{/if}
<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_precios input.cb_update').prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_precios input.cb_update').prop('checked', false);
   }
   $(document).ready(function() {
      $("#b_precios").click(function(event) {
         event.preventDefault();
         $("#modal_precios").modal('show');
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         $("#modal_eliminar").modal('show');
      });
   });
</script>

<form name="f_albaran" action="{$fsc->albaran->url()}" method="post" class="form">
   <input type="hidden" name="idalbaran" value="{$fsc->albaran->idalbaran}"/>
   <input type="hidden" name="proveedor" value="{$fsc->albaran->codproveedor}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <div class="container-fluid">
      <div class="row" style="margin-top: 10px;">
         <div class="col-xs-8">
            <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <div class="btn-group">
               <a id="b_precios" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-euro"></span>
                  <span class="hidden-xs">&nbsp; Precios</span>
               </a>
               {if="$fsc->albaran->ptefactura"}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&facturar=TRUE&petid={$fsc->random_string()}">
                  <span class="glyphicon glyphicon-paperclip"></span> &nbsp; Aprobar
               </a>
               {else}
               <a class="btn btn-sm btn-default text-capitalize" href="{$fsc->albaran->factura_url()}">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span class="hidden-xs">&nbsp; Ver Factura</span>
               </a>
               {/if}
            </div>
            <div class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}&id={$fsc->albaran->idalbaran}{$value->params}" class="btn btn-sm btn-default">
                     {$value->text}
                  </a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-xs-4 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">&nbsp; Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="button" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h3 class="text-capitalize" style="margin-bottom: 0px;">
               <a href="{$fsc->ppage->url()}">{#FS_ALBARANES#}</a> /
               <a href="{$fsc->albaran->proveedor_url()}">{$fsc->albaran->nombre}</a> /
               {$fsc->albaran->codigo}
            </h3>
            {if="$fsc->agente"}
            <p>
               <span class="text-capitalize">{#FS_ALBARAN#}</span> creado por
               <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>.
            </p>
            {/if}
         </div>
      </div>
      <div class="row">
         {if="$fsc->albaran->ptefactura"}
         <div class="col-md-4 col-sm-12">
            <div class="form-group">
               Proveedor actual:
               <div class="input-group">
                  <input class="form-control" type="text" name="ac_proveedor" id="ac_proveedor" value="{$fsc->albaran->nombre}" placeholder="Buscar" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button" onclick="document.f_albaran.ac_proveedor.value=''; document.f_albaran.ac_proveedor.focus();">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>
               </div>
            </div>
         </div>
         {/if}
         <div class="col-md-4 col-sm-6">
            <div class="form-group">
               Núm. Proveedor:
               <input class="form-control" type="text" name="numproveedor" value="{$fsc->albaran->numproveedor}"/>
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->albaran->fecha}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-md-2 col-sm-3">
            <div class="form-group">
               Hora:
               <input class="form-control" type="text" name="hora" value="{$fsc->albaran->hora}" autocomplete="off"/>
            </div>
         </div>
      </div>
   </div>
   
   <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active">
            <a href="#lineas_a" aria-controls="lineas_a" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Líneas</span>
            </a>
         </li>
         <li role="presentation">
            <a href="#opciones" aria-controls="opciones" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Opciones</span>
            </a>
         </li>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
         {/loop}
      </ul>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="lineas_a">
            <div class="table-responsive">
               {if="$fsc->albaran->ptefactura"}
               <table class="table table-condensed">
                  <thead>
                     <tr>
                        <th class="text-left">Referencia</th>
                        <th class="text-left">Descripción</th>
                        <th class="text-right" width="90">Cantidad</th>
                        <th></th>
                        <th class="text-right">Precio</th>
                        <th class="text-right" width="90">Dto. %</th>
                        <th class="text-right">Neto</th>
                        <th class="text-right" width="115">{#FS_IVA#}</th>
                        <th class="text-right recargo">RE %</th>
                        <th class="text-right irpf">{#FS_IRPF#} %</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  <tbody id="lineas_albaran">
                  {loop="$fsc->albaran->get_lineas()"}
                     <tr id="linea_{$counter}">
                        <td>
                           <input type="hidden" name="idlinea_{$counter}" value="{$value->idlinea}"/>
                           <input type="hidden" name="referencia_{$counter}" value="{$value->referencia}"/>
                           <div class="form-control">
                              <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                           </div>
                        </td>
                        <td><textarea class="form-control" name="desc_{$counter}" rows="1" onclick="this.select()">{$value->descripcion}</textarea></td>
                        <td>
                           <input type="number" step="any" id="cantidad_{$counter}" class="form-control text-right" name="cantidad_{$counter}"
                                  value="{$value->cantidad}" onchange="recalcular()" onkeyup="recalcular()" autocomplete="off" value="1"/>
                        </td>
                        <td>
                           <button class="btn btn-sm btn-danger" type="button" onclick="$('#linea_{$counter}').remove();recalcular();">
                              <span class="glyphicon glyphicon-trash"></span>
                           </button>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="pvp_{$counter}" name="pvp_{$counter}" value="{$value->pvpunitario}"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" id="dto_{$counter}" name="dto_{$counter}" value="{$value->dtopor}" class="form-control text-right"
                                  onkeyup="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="neto_{$counter}" name="neto_{$counter}"
                                  onchange="ajustar_neto()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <select class="form-control" id="iva_{$counter}" name="iva_{$counter}" onchange="ajustar_iva('{$counter}')">
                           {loop="$fsc->impuesto->all()"}
                              {if="$value1->codimpuesto==$value2->codimpuesto"}
                              <option value="{$value2->iva}" selected="selected">{$value2->descripcion}</option>
                              {else}
                              <option value="{$value2->iva}">{$value2->descripcion}</option>
                              {/if}
                           {/loop}
                           </select>
                        </td>
                        <td class="recargo">
                           <input type="text" class="form-control text-right" id="recargo_{$counter}" name="recargo_{$counter}" value="{$value->recargo}"
                                  onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td class="irpf">
                           <input type="text" class="form-control text-right" id="irpf_{$counter}" name="irpf_{$counter}" value="{$value->irpf}"
                                  onchange="recalcular()" onclick="this.select()" autocomplete="off"/>
                        </td>
                        <td>
                           <input type="text" class="form-control text-right" id="total_{$counter}" name="total_{$counter}"
                                  onchange="ajustar_total()" onclick="this.select()" autocomplete="off"/>
                        </td>
                     </tr>
                     {/loop}
                  </tbody>
                  <tbody>
                     <tr class="bg-info">
                        <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                        <td>
                           <a href="#" class="btn btn-sm btn-default" title="Añadir sin buscar" onclick="add_linea_libre()">
                              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                           </a>
                        </td>
                        <td colspan="4" class="text-right">Totales:</td>
                        <td><div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td><div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                        <td class="recargo">
                           <div id="are" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                        </td>
                        <td class="irpf">
                           <div id="airpf" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                        </td>
                        <td>
                           <input type="text" name="atotal" id="atotal" class="form-control text-right" style="font-weight: bold;"
                                  value="0" onchange="recalcular()" autocomplete="off"/>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="6"></td>
                        <td class="text-right">{$fsc->show_precio($fsc->albaran->neto)}</td>
                        <td class="text-right">{$fsc->show_precio($fsc->albaran->totaliva)}</td>
                        <td class="recargo text-right">{$fsc->show_precio($fsc->albaran->totalrecargo)}</td>
                        <td class="irpf text-right">{$fsc->show_precio($fsc->albaran->totalirpf)}</td>
                        <td class="text-right">{$fsc->show_precio($fsc->albaran->total)}</td>
                     </tr>
                  </tbody>
               </table>
               {else}
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Artículo</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                        <th class="text-right">Dto</th>
                        <th class="text-right">Neto</th>
                        <th class="text-right">{#FS_IVA#}</th>
                        <th class="text-right recargo">RE</th>
                        <th class="text-right irpf">{#FS_IRPF#}</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->albaran->get_lineas()"}
                  <tr{if="$value->cantidad<1"} class="bg-warning"{/if}>
                     <td><a href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion}</td>
                     <td class="text-right">{$value->cantidad}</td>
                     <td class="text-right">{$fsc->show_precio($value->pvpunitario, $fsc->albaran->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->dtopor, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->pvptotal, $fsc->albaran->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
                     <td class="text-right recargo">{$fsc->show_numero($value->recargo, 2)} %</td>
                     <td class="text-right irpf">{$fsc->show_numero($value->irpf, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->total_iva(), $fsc->albaran->coddivisa)}</td>
                  </tr>
                  {/loop}
                  <tr>
                     <td colspan="4"></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->neto, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->totaliva, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right recargo"><b>{$fsc->show_precio($fsc->albaran->totalrecargo, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right irpf"><b>-{$fsc->show_precio($fsc->albaran->totalirpf, $fsc->albaran->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->albaran->total, $fsc->albaran->coddivisa)}</b></td>
                  </tr>
               </table>
               {/if}
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="opciones">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-sm-2">
                     <div class="form-group">
                        <a href="{$fsc->serie->url()}">Serie</a>:
                        <select class="form-control" name="serie" id="codserie" onchange="usar_serie();recalcular();">
                        {loop="$fsc->serie->all()"}
                           {if="$value->codserie==$fsc->albaran->codserie"}
                           <option value="{$value->codserie}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codserie}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-sm-3">
                     <div class="form-group">
                        <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                        <select name="forma_pago" class="form-control">
                           {loop="$fsc->forma_pago->all()"}
                           <option value="{$value->codpago}"{if="$value->codpago==$fsc->albaran->codpago"} selected="selected"{/if}>{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
               <iframe src="index.php?page={$value->from}{$value->params}&id={$fsc->albaran->idalbaran}" width="100%" height="600" frameborder="0"></iframe>
            </div>
            {/if}
         {/loop}
      </div>
   </div>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="3">{$fsc->albaran->observaciones}</textarea>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 1000px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">Buscar artículos</h3>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codproveedor" value="{$fsc->albaran->codproveedor}"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock
                        </label>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Todas las familias</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <ul class="nav nav-tabs" id="nav_articulos" style="display: none;">
            <li id="li_mis_articulos"><a href="#" id="b_mis_articulos">Mi catálogo</a></li>
            <li id="li_kiwimaru"><a href="#" id="b_kiwimaru">Internet</a></li>
            <li id="li_nuevo_articulo"><a href="#" id="b_nuevo_articulo">Nuevo</a></li>
         </ul>
         <div id="search_results"></div>
         <div id="kiwimaru_results"></div>
         <div id="nuevo_articulo" class="modal-body" style="display: none;">
            <form name="f_nuevo_articulo" action="{$fsc->url()}" method="post" class="form">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           Referencia:
                           <input class="form-control" type="text" name="referencia" maxlength="18" autocomplete="off"/>
                        </div>
                     </div>
                     <div class="col-sm-8">
                        <div class="form-group">
                           Descripción:
                           <textarea name="descripcion" rows="1" class="form-control"></textarea>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->familia->url()}">Familia</a>:
                           <select name="codfamilia" class="form-control">
                              {loop="$fsc->familia->all()"}
                              <option value="{$value->codfamilia}">{$value->descripcion}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           <a href="{$fsc->impuesto->url()}">{#FS_IVA#}</a>:
                           <select name="codimpuesto" class="form-control">
                              {loop="$fsc->impuesto->all()"}
                              <option value="{$value->codimpuesto}"{if="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                              {/loop}
                           </select>
                        </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="form-group">
                           Precio:
                           <input type="text" name="pvp" value="0" class="form-control" autocomplete="off"/>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-sm-12 text-right">
                        <button class="btn btn-sm btn-primary" type="submit" onclick="new_articulo();return false;">
                           <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar y seleccionar
                        </button>
                     </div>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>

<form action="{$fsc->ppage->url()}" method="post">
   <input type="hidden" name="delete" value="{$fsc->albaran->idalbaran}"/>
   <div class="modal fade" id="modal_eliminar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3 class="modal-title">¿Realmente desea eliminar este {#FS_ALBARAN#}?</h3>
            </div>
            <div class="modal-footer">
               <div class="pull-left">
                  <label>
                     <input type="checkbox" name="stock" value="TRUE" checked="checked"/>
                     Actualizar el stock
                  </label>
               </div>
               <button class="btn btn-sm btn-danger" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
               </button>
            </div>
            {if="$fsc->albaran->idfactura"}
            <div class="alert alert-info">
               Hay una factura asociada que será eliminada junto con este {#FS_ALBARAN#}.
            </div>
            {/if}
         </div>
      </div>
   </div>
</form>

<form id="f_precios" class="form" name="f_precios" action="{$fsc->url()}" method="post">
   <input type="hidden" name="actualizar_precios" value="TRUE"/>
   <div class="modal fade" id="modal_precios">
      <div class="modal-dialog" style="width: 99%; max-width: 950px;">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h3 class="modal-title">Actualizar precios de los artículos</h3>
            </div>
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th width="100">Actualizar</th>
                        <th class="text-left">Artículo</th>
                        <th>Código de barras</th>
                        <th class="text-right">Precio</th>
                        <th width="100" class="text-right">Precio+{#FS_IVA#}</th>
                     </tr>
                  </thead>
                  {loop="$fsc->albaran->get_lineas()"}
                  <tr>
                     <td class="text-center">
                        <input class="cb_update" type="checkbox" name="referencia_{$counter}" value="{$value->referencia}" checked="checked"/>
                     </td>
                     <td>
                        <a target="_blank" href="{$value->articulo_url()}">{$value->referencia}</a>
                        {$value->descripcion}
                     </td>
                     <td>
                        <input class="form-control" type="text" name="codbar_{$counter}" autocomplete="off"/>
                     </td>
                     <td>
                        <div class="form-control">
                           {$fsc->show_numero($value->pvpunitario)}
                        </div>
                     </td>
                     <td>
                        <input class="form-control text-right" type="text" name="pvpiva_{$counter}" value="{$value->pvp_iva()}" autocomplete="off"/>
                     </td>
                  </tr>
                  {/loop}
               </table>
            </div>
            <div class="modal-footer">
               <div class="text-center">
                  <label>
                     <input type="checkbox" name="update_all" value="TRUE"/>
                     Actualizar descripción y código de barras
                  </label>
               </div>
               
               <div>
                  <div class="btn-group pull-left">
                     <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                        <span class="glyphicon glyphicon-check"></span>
                     </button>
                     <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                        <span class="glyphicon glyphicon-unchecked"></span>
                     </button>
                  </div>
                  
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                     <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}