{include="header"}

<script type="text/javascript">
   $(document).ready(function() {
      $("#b_nueva_subcuenta").click(function(event) {
         event.preventDefault();
         $("#modal_nueva_subcuenta").modal('show');
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar esta cuenta?") )
            window.location.href = 'index.php?page=contabilidad_epigrafes&deletec={$fsc->cuenta->idcuenta}';
      });
   });
</script>

{if="$fsc->cuenta"}
<form action="{$fsc->url()}" method="post" class="form">
   <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="row">
         <div class="col-sm-8">
            <a href="{$fsc->url()}" class="btn btn-sm btn-default" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <a href="{$fsc->ppage->url()}" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; {$fsc->ppage->title}
            </a>
            
            <div class="btn-group">
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-sm-4 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" id="b_eliminar" class="btn btn-sm btn-danger">
                  <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Cuenta</th>
               <th class="text-left">Descripción</th>
               <th class="text-left">Cuenta especial</th>
               <th class="text-left">Ejercicio</th>
            </tr>
         </thead>
         <tr>
            <td><div class="form-control">{$fsc->cuenta->codcuenta}</div></td>
            <td><input class="form-control" type="text" name="descripcion" value="{$fsc->cuenta->descripcion}" autocomplete="off"/></td>
            <td>
               <select name="idcuentaesp" class="form-control">
                  <option value="---">Ninguna</option>
                  <option value="---">-------</option>
                  {loop="$fsc->cuentas_especiales()"}
                  <option value="{$value->idcuentaesp}"{if="$value->idcuentaesp==$fsc->cuenta->idcuentaesp"} selected="selected"{/if}>
                     {$value->descripcion}
                  </option>
                  {/loop}
               </select>
            </td>
            <td>
               <div class="form-control">
                  <a href="{$fsc->ejercicio->url()}">{$fsc->ejercicio->nombre}</a>
               </div>
            </td>
         </tr>
      </table>
   </div>
</form>

<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Descripción</th>
            <th class="text-right">Debe</th>
            <th class="text-right">Haber</th>
            <th class="text-right">Saldo</th>
         </tr>
      </thead>
      {loop="$fsc->cuenta->get_subcuentas()"}
      <tr class="clickableRow" href="{$value->url()}">
         <td><a href="{$value->url()}">{$value->codsubcuenta}</a> {$value->descripcion}</td>
         <td class="text-right">{$fsc->show_precio($value->debe, $value->coddivisa)}</td>
         <td class="text-right">{$fsc->show_precio($value->haber, $value->coddivisa)}</td>
         <td class="text-right">{$fsc->show_precio($value->saldo, $value->coddivisa)}</td>
      </tr>
      {/loop}
      <tr>
         <td colspan="4" class="text-center">
            <a id="b_nueva_subcuenta" class="btn btn-sm btn-block btn-success" href="#">Nueva Subcuenta...</a>
         </td>
      </tr>
   </table>
</div>

<form class="form-horizontal" role="form" name="f_nueva_subcuenta" action ="{$fsc->url()}" method="POST">
   <input type="hidden" name="ejercicio" value="{$fsc->cuenta->codejercicio}"/>
   <input type="hidden" name="idcuenta" value="{$fsc->cuenta->idcuenta}"/>
   <input type="hidden" name="codcuenta" value="{$fsc->cuenta->codcuenta}"/>
   <div class="modal fade" id="modal_nueva_subcuenta">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nueva subcuenta</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  <label for="codcuenta" class="col-lg-2 col-md-2 col-sm-2 control-label">Cuenta</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <div class="form-control">{$fsc->cuenta->codcuenta}</div>
                  </div>
               </div>
               <div class="form-group">
                  <label for="nsubcuenta" class="col-lg-2 col-md-2 col-sm-2 control-label">Código</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="nsubcuenta" value="{$fsc->nuevo_codsubcuenta}" autocomplete="off" autofocus />
                  </div>
               </div>
               <div class="form-group">
                  <label for="descripcion" class="col-lg-2 col-md-2 col-sm-2 control-label">Descripción</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="descripcion" autocomplete="off"/>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                   <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                </button>
            </div>
         </div>
      </div>
   </div>
</form>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}