{include="header"}

{if="$fsc->ejercicio"}
<script type="text/javascript">
   function cerrar_ejercicio()
   {
      location.href = '{$fsc->url()}&cerrar=TRUE&petid={$fsc->random_string()}';
   }
   $(document).ready(function() {
      {if="$fsc->importar_url"}
         setTimeout("location.href = '{$fsc->importar_url}';", 2000);
      {elseif="!$fsc->listado"}
         $("#modal_importar").modal('show');
      {/if}
      
      $("#b_importar").click(function(event) {
         event.preventDefault();
         $("#modal_importar").modal('show');
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         if( confirm("¿Realmente desea eliminar este ejercicio?") )
            window.location.href = 'index.php?page=contabilidad_ejercicios&delete={$fsc->ejercicio->codejercicio}';
      });
   });
</script>

<form action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="codejercicio" value="{$fsc->ejercicio->codejercicio}"/>
   <div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
      <div class="row">
         <div class="col-xs-7">
            <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <a class="btn btn-sm btn-default" href="index.php?page=contabilidad_ejercicios">
               <span class="glyphicon glyphicon-arrow-left"></span>
               <span class="hidden-xs hidden-sm">&nbsp; Ejercicios</span>
            </a>
            {if="$fsc->asiento_apertura_url OR $fsc->asiento_cierre_url OR $fsc->asiento_pyg_url"}
            <div class="btn-group">
               <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                  Asiento... <span class="caret"></span>
               </button>
               <ul class="dropdown-menu" role="menu">
                  {if="$fsc->asiento_apertura_url"}
                  <li><a href="{$fsc->asiento_apertura_url}">Asiento de apertura</a></li>
                  {/if}
                  
                  {if="$fsc->asiento_cierre_url"}
                  <li><a href="{$fsc->asiento_cierre_url}">Asiento de cierre</a></li>
                  {/if}
                  
                  {if="$fsc->asiento_pyg_url"}
                  <li><a href="{$fsc->asiento_pyg_url}">Asiento de pérdidas y ganancias</a></li>
                  {/if}
               </ul>
            </div>
            {/if}
            <div class="btn-group">
               <a id="b_importar" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-import"></span>
                  <span class="hidden-xs">&nbsp; Importar</span>
               </a>
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&export=TRUE">
                  <span class="glyphicon glyphicon-export"></span>
                  <span class="hidden-xs">&nbsp; Exportar</span>
               </a>
               {loop="$fsc->extensions"}
                  {if="$value->type=='button'"}
                  <a href="index.php?page={$value->from}" class="btn btn-sm btn-default">{$value->text}</a>
                  {/if}
               {/loop}
            </div>
         </div>
         <div class="col-xs-5 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a href="#" id="b_eliminar" class="btn btn-sm btn-danger" title="Eliminar ejercicio">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-xs hidden-sm">&nbsp; Eliminar</span>
               </a>
               {/if}
               {if="$fsc->ejercicio->abierto()"}
               <button class="btn btn-sm btn-default" type="button" onclick="cerrar_ejercicio()" title="Cerrar ejercicio">
                  <span class="glyphicon glyphicon-lock"></span>
                  <span class="hidden-xs hidden-sm">&nbsp; Cerrar</span>
               </button>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
   </div>
   
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Nombre</th>
               <th class="text-left">Fecha inicio</th>
               <th class="text-left">Fecha fin</th>
               <th class="text-left">Longitud subcuenta</th>
               <th class="text-left">Estado</th>
            </tr>
         </thead>
         <tr>
            <td><input class="form-control" type="text" name="nombre" value="{$fsc->ejercicio->nombre}" autocomplete="off"/></td>
            <td><input class="form-control datepicker" type="text" name="fechainicio" value="{$fsc->ejercicio->fechainicio}"/></td>
            <td><input class="form-control datepicker" type="text" name="fechafin" value="{$fsc->ejercicio->fechafin}"/></td>
            <td><input class="form-control" type="number" name="longsubcuenta" value="{$fsc->ejercicio->longsubcuenta}"/></td>
            <td>
               <select name="estado" class="form-control">
                  <option value="ABIERTO"{if="$fsc->ejercicio->abierto()"} selected="selected"{/if}>ABIERTO</option>
                  <option value="CERRADO"{if="!$fsc->ejercicio->abierto()"} selected="selected"{/if}>CERRADO</option>
               </select>
            </td>
         </tr>
      </table>
   </div>
</form>

<ul class="nav nav-tabs">
   <li{if="$fsc->listar=='grupos'"} class="active"{/if}>
      <a href="{$fsc->url()}&listar=grupos">Grupos</a>
   </li>
   <li{if="$fsc->listar=='epigrafes'"} class="active"{/if}>
      <a href="{$fsc->url()}&listar=epigrafes">Epígrafes</a>
   </li>
   <li{if="$fsc->listar=='cuentas'"} class="active"{/if}>
      <a href="{$fsc->url()}&listar=cuentas">Cuentas</a>
   </li>
   <li{if="$fsc->listar=='subcuentas'"} class="active"{/if}>
      <a href="{$fsc->url()}&listar=subcuentas">Subcuentas</a>
   </li>
</ul>

{if="$fsc->listar=='grupos'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Descripción</th>
         </tr>
      </thead>
      {loop="$fsc->listado"}
      <tr class="clickableRow" href="{$value->url()}">
         <td><a href="{$value->url()}">{$value->codgrupo}</a> {$value->descripcion}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td>Sin resultados. Debes importar los datos del ejercicio, pulsa el botón <b>importar</b></td>
      </tr>
      {/loop}
   </table>
</div>
{elseif="$fsc->listar=='epigrafes'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Grupo</th>
            <th class="text-left">Código + Descripción</th>
         </tr>
      </thead>
      {loop="$fsc->listado"}
      <tr class="clickableRow" href="{$value->url()}">
         <td>{$value->codgrupo}</td>
         <td><a href="{$value->url()}">{$value->codepigrafe}</a> {$value->descripcion}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="2">
            Sin resultados. Debes importar los datos del ejercicio, pulsa el botón <b>importar</b>
         </td>
      </tr>
      {/loop}
   </table>
</div>
{elseif="$fsc->listar=='cuentas'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Epígrafe</th>
            <th class="text-left">Código + Descripción</th>
            <th class="text-right">Cuenta Especial</th>
         </tr>
      </thead>
      {loop="$fsc->listado"}
      <tr class="clickableRow" href="{$value->url()}">
         <td>{$value->codepigrafe}</td>
         <td><a href="{$value->url()}">{$value->codcuenta}</a> {$value->descripcion}</td>
         <td class="text-right">{$value->idcuentaesp}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="3">
            Sin resultados. Debes importar los datos del ejercicio, pulsa el botón <b>importar</b>
         </td>
      </tr>
      {/loop}
   </table>
</div>
{elseif="$fsc->listar=='subcuentas'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Cuenta</th>
            <th class="text-left">Código + Descripción</th>
            <th class="text-right">Saldo</th>
         </tr>
      </thead>
      {loop="$fsc->listado"}
      <tr class="clickableRow" href="{$value->url()}">
         <td>{$value->codcuenta}</td>
         <td><a href="{$value->url()}">{$value->codsubcuenta}</a> {$value->descripcion}</td>
         <td class="text-right">{$fsc->show_precio($value->saldo, $value->coddivisa)}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="3">
            Sin resultados. Debes importar los datos del ejercicio, pulsa el botón <b>importar</b>
         </td>
      </tr>
      {/loop}
   </table>
</div>
{else}
<h1>Algo has tocado o_O</h1>
{/if}

<form enctype='multipart/form-data' action="{$fsc->url()}" method="post" class="form">
   <input name='archivo' type='hidden' value='TRUE'/>
   <div class="modal fade" id="modal_importar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Importar datos del ejercicio</h4>
               <p>Se importarán grupos, epígrafes, cuentas, subcuentas, etc.</p>
            </div>
            <div class="modal-body">
               <div class="radio">
                  <label>
                     <input type="radio" name="fuente" value="plugins/facturacion_base/extras/espanya.xml" checked="checked"/>
                     Plan General Contable de <b>España</b>
                  </label>
               </div>
               {loop="$fsc->extensions"}
                  {if="$value->type=='fuente'"}
                  <div class="radio">
                     <label>
                        <input type="radio" name="fuente" value="{$value->params}" checked="checked"/>
                        {$value->text}
                     </label>
                  </div>
                  {/if}
               {else}
               <div class="radio">
                  <label onclick="window.location.href = 'index.php?page=admin_home#descargas';">
                     <input type="radio" name="fuente" value="" disabled="disabled"/>
                     PUC de <b>Colombia</b> (Requiere instalar plugin colombia)
                  </label>
               </div>
               <div class="radio">
                  <label onclick="window.location.href = 'index.php?page=admin_home#descargas';">
                     <input type="radio" name="fuente" value="" disabled="disabled"/>
                     PCGE de <b>Perú</b> (Requiere instalar plugin peru)
                  </label>
               </div>
               {/loop}
               <div class="radio">
                  <label>
                     <input type="radio" id="rb_archivo" name="fuente" value="archivo" onclick="$('#div_externo').show();"/>
                     Un archivo externo
                  </label>
               </div>
               <div id="div_externo" class="form-group" style="display: none;">
                  <input class="form-control" name='farchivo' type='file' onclick="$('#rb_archivo').prop('checked', true);"/>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Importar">
                   <span class="glyphicon glyphicon-import"></span> &nbsp; Importar
                </button>
            </div>
         </div>
      </div>
   </div>
</form>

{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}