<script type="text/javascript" src="plugins/facturacion_base/view/js/tpv_recambios.js"></script>
<script type="text/javascript">
   fs_nf0 = {#FS_NF0#};
   tpv_url = '{$fsc->url()}';
   cliente = {function="json_encode($fsc->cliente_s)"};
   all_impuestos = {function="json_encode($fsc->impuesto->all())"};
   all_series = {function="json_encode($fsc->serie->all())"};
   
   $(document).ready(function() {
      usar_serie();
      
      $("#ac_cliente").autocomplete({
         serviceUrl: tpv_url,
         paramName: 'buscar_cliente',
         onSelect: function (suggestion) {
            if(suggestion)
            {
               if(document.f_tpv.cliente.value != suggestion.data && suggestion.data != '')
               {
                  document.f_tpv.cliente.value = suggestion.data;
                  usar_cliente(suggestion.data);
               }
            }
         }
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px; margin-bottom: 10px;">
   <div class="row">
      <div class="col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->show_on_menu"}
               {if="$fsc->page->is_default()"}
               <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {/if}
            {/if}
         </div>
         <div class="btn-group">
            <a href="#" id="b_reticket" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-print"></span>
               <span class="hidden-xs">&nbsp; Reimprimir ticket</span>
            </a>
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <div class="btn-group">
            <a href="{$fsc->url()}&abrir_caja=TRUE" id="b_abrir_caja" class="btn btn-sm btn-default">
               <span class="glyphicon glyphicon-inbox"></span>
               <span class="hidden-xs hidden-sm">&nbsp; Abrir cajón</span>
            </a>
            <a href="#" id="b_cerrar_caja" class="btn btn-sm btn-danger">
               <span class="glyphicon glyphicon-lock"></span> &nbsp; Cerrar caja
            </a>
         </div>
      </div>
   </div>
</div>

<form id="f_tpv" name="f_tpv" action="{$fsc->url()}" method="post" class="form">
   <input type="hidden" name="petition_id" value="{$fsc->random_string()}"/>
   <input type="hidden" id="numlineas" name="numlineas" value="0"/>
   <input type="hidden" id="tpv_total2" name="tpv_total2" value="0"/>
   <input type="hidden" name="cliente" value="{$fsc->cliente_s->codcliente}"/>
   <div class="container-fluid">
      <div class="row">
         <div class="col-sm-6">
            <div class="form-group">
               Cliente:
               <div class="input-group">
                  <input class="form-control" type="text" name="ac_cliente" id="ac_cliente" value="{$fsc->cliente_s->nombre}" placeholder="Buscar" autocomplete="off"/>
                  <span class="input-group-btn">
                     <button class="btn btn-default" type="button" onclick="document.f_tpv.ac_cliente.value=''; document.f_tpv.ac_cliente.focus();">
                        <span class="glyphicon glyphicon-edit"></span>
                     </button>
                  </span>
               </div>
               <p class="help-block">
                  <a href="{$fsc->cliente->url()}#nuevo" target="_blank">Nuevo cliente</a>.
               </p>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->today()}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-4">
            <div class="form-group">
               Atiende:
               <div class="form-control">
                  <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <ul class="nav nav-tabs" role="tablist">
      <li class="active">
         <a href="#tab_lineas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Líneas</span>
         </a>
      </li>
      <li>
         <a href="#tab_opciones" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
            <span class="hidden-xs">&nbsp; Opciones</span>
         </a>
      </li>
      <li>
         <a href="#tab_tickets" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-print"></span>
            <span class="hidden-xs">&nbsp; Tickets</span>
         </a>
      </li>
   </ul>
   
   <div class="tab-content">
      <div class="tab-pane active" id="tab_lineas">
         <div class="table-responsive">
            <table class="table table-condensed">
               <thead>
                  <tr>
                     <th class="text-left">Referencia</th>
                     <th class="text-left">Descripción</th>
                     <th class="text-right">Cantidad</th>
                     <th></th>
                     <th class="text-right">Precio</th>
                     <th class="text-right">Dto. %</th>
                     <th class="text-right">Neto</th>
                     <th class="text-right">{#FS_IVA#} %</th>
                     <th class="text-right recargo">RE %</th>
                     <th class="text-right irpf">{#FS_IRPF#} %</th>
                     <th class="text-right">Total</th>
                  </tr>
               </thead>
               <tbody id="lineas_albaran">
                  <tr class="bg-info">
                     <td><input id="i_new_line" class="form-control" type="text" placeholder="Buscar para añadir..." autocomplete="off"/></td>
                     <td colspan="5" class="text-right">Totales:</td>
                     <td><div id="aneto" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                     <td><div id="aiva" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                     <td class="recargo">
                        <div id="are" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                     </td>
                     <td class="irpf">
                        <div id="airpf" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div>
                     </td>
                     <td><div id="atotal" class="form-control text-right" style="font-weight: bold;">{$fsc->show_numero(0)}</div></td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
      <div class="tab-pane" id="tab_opciones">
         {if="$fsc->terminal"}
         <input type="hidden" name="almacen" value="{$fsc->terminal->codalmacen}"/>
         <input type="hidden" name="serie" value="{$fsc->terminal->codserie}"/>
         {/if}
         <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
            <div class="row">
               {if="!$fsc->terminal"}
               <div class="col-sm-3">
                  <div class="form-group">
                     <a href="{$fsc->almacen->url()}">Almacén</a>:
                     <select name="almacen" class="form-control">
                        {loop="$fsc->almacen->all()"}
                           {if="$value->is_default()"}
                           <option value="{$value->codalmacen}" selected='selected'>{$value->nombre}</option>
                           {else}
                           <option value="{$value->codalmacen}">{$value->nombre}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="form-group">
                     <a href="{$fsc->serie->url()}">Serie</a>:
                     <select name="serie" class="form-control" id="codserie" onchange="usar_serie();recalcular();">
                        {loop="$fsc->serie->all()"}
                           {if="$value->is_default()"}
                           <option value="{$value->codserie}" selected='selected'>{$value->descripcion}</option>
                           {else}
                           <option value="{$value->codserie}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               {/if}
               <div class="col-sm-3">
                  <div class="form-group">
                     <a href="{$fsc->divisa->url()}">Divisa</a>:
                     <select name="divisa" class="form-control">
                        {loop="$fsc->divisa->all()"}
                           {if="$value->is_default()"}
                           <option value="{$value->coddivisa}" selected="selected">{$value->descripcion}</option>
                           {else}
                           <option value="{$value->coddivisa}">{$value->descripcion}</option>
                           {/if}
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="col-sm-3">
                  <div class="form-group">
                     Número 2:
                     <input class="form-control" type="text" name="numero2" autocomplete="off"/>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tab-pane" id="tab_tickets">
         <div class="container-fluid" style="margin-top: 10px; margin-bottom: 20px;">
            <div class="row">
               <div class="col-sm-2">
                  <div class="form-group">
                     Nº de tickets:
                     <input class="form-control" type="number" name="num_tickets" value="1"/>
                  </div>
               </div>
               <div class="col-sm-4">
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="imprimir_desc" value="TRUE"{if="$fsc->imprimir_descripciones"} checked="checked"{/if}/>
                        Imprimir descripciones
                     </label>
                  </div>
                  <div class="checkbox">
                     <label>
                        <input type="checkbox" name="imprimir_obs" value="TRUE"{if="$fsc->imprimir_observaciones"} checked="checked"{/if}/>
                        Imprimir observaciones
                     </label>
                  </div>
               </div>
               <div class="col-sm-6">
                  <p>
                     <b>Recuerda</b> que para poder imprimir tickets necesitas estar ejecutando la aplicación Remote printer.
                  </p>
                  <a target="_blank" href="//www.facturascripts.com/comm3/index.php?page=community_item&id=170" class="btn btn-sm btn-default">
                     <span class="glyphicon glyphicon-download"></span> &nbsp; Remote printer
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   
   <div class="container-fluid">
      <div class="row" style="margin-bottom: 30px;">
         <div class="col-xs-6">
            <button class="btn btn-sm btn-default" type="button" onclick="window.location.href='{$fsc->url()}';">
               <span class="glyphicon glyphicon-refresh"></span> &nbsp; Reiniciar...
            </button>
         </div>
         <div class="col-xs-6 text-right">
            <button type="button" id="b_tpv_guardar" class="btn btn-sm btn-primary">
               <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar...
            </button>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="4"></textarea>
            </div>
         </div>
      </div>
   </div>
   
   <div class="modal" id="modal_guardar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
               <h4 class="modal-title" id="myModalLabel">Guardar ticket</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Total:
                  <input type="text" name="tpv_total" id="tpv_total" class="form-control" disabled="disabled"/>
               </div>
               <div class="form-group">
                  Efectivo:
                  <input type="text" name="tpv_efectivo" id="tpv_efectivo" class="form-control" onkeyup="recalcular()" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Cambio:
                  <input type="text" name="tpv_cambio" id="tpv_cambio" class="form-control" disabled="disabled"/>
               </div>
               <div class="form-group">
                  <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
                  <select name="forma_pago" class="form-control">
                  {loop="$fsc->forma_pago->all()"}
                     {if="$value->is_default()"}
                     <option value="{$value->codpago}" selected="selected">{$value->descripcion}</option>
                     {else}
                     <option value="{$value->codpago}">{$value->descripcion}</option>
                     {/if}
                  {/loop}
                  </select>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="button" onclick="this.disabled=true;$('#tpv_total').prop('disabled',false);this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal" id="modal_articulos">
   <div class="modal-dialog" style="width: 99%; max-width: 950px;">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Buscar artículos</h4>
         </div>
         <div class="modal-body">
            <form id="f_buscar_articulos" name="f_buscar_articulos" action="{$fsc->url()}" method="post" class="form">
               <input type="hidden" name="codcliente"/>
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                           <input class="form-control" type="text" name="query" autocomplete="off"/>
                           <span class="input-group-btn">
                              <button class="btn btn-primary" type="submit">
                                 <span class="glyphicon glyphicon-search"></span>
                              </button>
                           </span>
                        </div>
                        <label>
                           <input type="checkbox" name="con_stock" value="TRUE" onchange="buscar_articulos()"/>
                           sólo con stock
                        </label>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6">
                        <select class="form-control" name="codfamilia" onchange="buscar_articulos()">
                           <option value="">Todas las familias</option>
                           <option value="">------</option>
                           {loop="$fsc->familia->all()"}
                           <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                           {/loop}
                        </select>
                     </div>
                  </div>
               </div>
            </form>
         </div>
         <div id="search_results"></div>
      </div>
   </div>
</div>