{include="header"}

<script type="text/javascript">
   function show_nuevo_articulo()
   {
      $("#modal_nuevo_articulo").modal('show');
      document.f_nuevo_articulo.referencia.focus();
   }
   function show_tarifas()
   {
      $("#ul_tabs li").each(function() {
         $(this).removeClass("active");
      });
      $("#div_articulos").hide();
      $("#b_tarifas").addClass('active');
      $("#div_tarifas").show();
      document.f_nueva_tarifa.nombre.focus();
   }
   function eliminar_tarifa(cod)
   {
      if( confirm("¿Realmente desea eliminar la tarifa "+cod+"?") )
         window.location.href = '{$fsc->url()}&delete_tarifa='+cod+'#tarifas';
   }
   $(document).ready(function() {
      document.f_custom_search.query.focus();
      
      if(window.location.hash.substring(1) == 'nuevo')
      {
         show_nuevo_articulo();
      }
      else if(window.location.hash.substring(1) == 'tarifas')
      {
         show_tarifas();
      }
      
      $("#b_nuevo_articulo").click(function(event) {
         event.preventDefault();
         show_nuevo_articulo();
      });
      $("#b_tarifas").click(function(event) {
         event.preventDefault();
         show_tarifas();
      });
   });
</script>

<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-md-8 col-sm-7 col-xs-6">
         <div class="btn-group hidden-xs">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            <a id="b_nuevo_articulo" class="btn btn-sm btn-success" href="#">
               <span class="glyphicon glyphicon-plus"></span>
               <span class="hidden-xs">&nbsp; Nuevo</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Artículos</h2>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-12">
         <form name="f_custom_search" action="{$fsc->url()}" method="post" class="form">
            <div class="input-group">
               <input class="form-control" type="text" name="query" value="{$fsc->query}" autocomplete="off" placeholder="Buscar">
               <span class="input-group-btn">
                  <button class="btn btn-primary hidden-sm" type="submit">
                     <span class="glyphicon glyphicon-search"></span>
                  </button>
               </span>
            </div>
         </form>
         <div class="visible-xs"><br/></div>
      </div>
   </div>
</div>

<ul class="nav nav-tabs" id="ul_tabs">
   <li{if="!isset($_GET['public']) AND !isset($_GET['solo_stock'])"} class="active"{/if}>
      <a href="{$fsc->url()}">
         {if="$fsc->query==''"}
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Todos</span>
         {else}
         <span class="glyphicon glyphicon-search"></span>
         <span class="hidden-xs">&nbsp; Resultados de "{$fsc->query}"</span>
         {/if}
      </a>
   </li>
   <li{if="isset($_GET['solo_stock'])"} class="active"{/if}>
      <a href="{$fsc->url()}&solo_stock=TRUE">
         <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Stock</span>
      </a>
   </li>
   <li{if="isset($_GET['public'])"} class="active"{/if}>
      <a href="{$fsc->url()}&public=TRUE">
         <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Públicos</span>
      </a>
   </li>
   {if="$fsc->mostrar_tab_tarifas"}
   <li id="b_tarifas">
      <a href="#tarifas">
         <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Tarifas</span>
      </a>
   </li>
   {/if}
</ul>

<div id="div_articulos">
   {if="$fsc->query!=''"}
   <form name="custom_search2" action="{$fsc->url()}" method="post" class="form">
      <input type="hidden" name="query" value="{$fsc->query}"/>
      <div class="container-fluid" style="margin-top: 10px;">
         <div class="row">
            <div class="col-sm-2">
               <div class="form-group">
                  <select class="form-control" name="codfamilia" onchange="this.form.submit()">
                     <option value="">Todas las familias</option>
                     <option value="">-----</option>
                     {loop="$fsc->familia->all()"}
                        {if="$value->codfamilia==$fsc->codfamilia"}
                        <option value="{$value->codfamilia}" selected="selected">{$value->nivel}{$value->descripcion}</option>
                        {else}
                        <option value="{$value->codfamilia}">{$value->nivel}{$value->descripcion}</option>
                        {/if}
                     {/loop}
                  </select>
               </div>
            </div>
            <div class="col-sm-2">
               <div class="checkbox">
                  <label>
                     <input type="checkbox" name="con_stock"{if="$fsc->con_stock"} checked="checked"{/if} value="TRUE" onchange="this.form.submit()"/>
                     Sólo con stock
                  </label>
               </div>
            </div>
         </div>
      </div>
   </form>
   {/if}
   <div class="table-responsive">
      <table class="table table-hover">
         <thead>
            <tr>
               <th class="text-left">Familia</th>
               <th class="text-left">Referencia + Descripción</th>
               <th class="text-right">Precio</th>
               <th class="text-right">Precio+{#FS_IVA#}</th>
               <th class="text-right">Stock</th>
            </tr>
         </thead>
         {if="isset($_GET['solo_stock']) AND $fsc->resultados"}
         <tr class="bg-info">
            <td colspan="5">
               <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> &nbsp;
               <a href="index.php?page=informe_articulos&tab=stock">
                  Tienes un informe detallado del stock en Informes > Artículos.
               </a>
            </td>
         </tr>
         {/if}
         {loop="$fsc->resultados"}
         <tr class="clickableRow{if="$value->bloqueado"} bg-danger{elseif="$value->stockfis<$value->stockmin"} bg-warning{/if}" href="{$value->url()}">
            <td>
               {$value->codfamilia}
               <a href="index.php?page=ventas_familia&cod={$value->codfamilia}" class="cancel_clickable" title="Ver más artículos de esta familia">[+]</a>
            </td>
            <td><a href="{$value->url()}">{$value->referencia}</a> {$value->descripcion}</td>
            <td class="text-right"><span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp)}</span></td>
            <td class="text-right"><span title="actualizado el {$value->factualizado}">{$fsc->show_precio($value->pvp_iva())}</span></td>
            <td class="text-right">{$value->stockfis}</td>
         </tr>
         {else}
         <tr class="bg-warning">
            <td colspan="5">Ningun artículo encontrado. Pulsa el botón <b>Nuevo</b> para crear uno.</td>
         </tr>
         {/loop}
      </table>
   </div>
   
   <ul class="pager">
      {if="$fsc->anterior_url()!=''"}
      <li class="previous">
         <a href="{$fsc->anterior_url()}">
            <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
         </a>
      </li>
      {/if}
      
      {if="$fsc->siguiente_url()!=''"}
      <li class="next">
         <a href="{$fsc->siguiente_url()}">
            Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
         </a>
      </li>
      {/if}
   </ul>
</div>

{if="$fsc->mostrar_tab_tarifas"}
<div id="div_tarifas" class="table-responsive" style="display: none;">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código</th>
            <th class="text-left">Nombre</th>
            <th class="text-right">% dto.</th>
            <th class="text-right">Acción</th>
         </tr>
      </thead>
      {loop="$fsc->tarifa->all()"}
      <form action="{$fsc->url()}#tarifas" method="post" class="form">
         <input type="hidden" name="codtarifa" value="{$value->codtarifa}"/>
         <tr>
            <td><div class="form-control">{$value->codtarifa}</div></td>
            <td>
               <input class="form-control" type="text" name="nombre" value="{$value->nombre}" maxlength="50" autocomplete="off"/>
            </td>
            <td>
               <input class="form-control text-right" type="number" step="any" name="dtopor" value="{$value->dtopor()}" autocomplete="off"/>
            </td>
            <td class="text-right">
               <div class="btn-group">
                  {if="$fsc->allow_delete"}
                  <a href="#" class="btn btn-sm btn-danger" title="Eliminar" onclick="eliminar_tarifa('{$value->codtarifa}')">
                     <span class="glyphicon glyphicon-trash"></span>
                  </a>
                  {/if}
                  <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                     <span class="glyphicon glyphicon-floppy-disk"></span>
                  </button>
               </div>
            </td>
         </tr>
      </form>
      {/loop}
      <form name="f_nueva_tarifa" action="{$fsc->url()}#tarifas" method="post" class="form">
         <tr class="bg-info">
            <td>
               <input class="form-control" type="text" name="codtarifa" value="{$fsc->tarifa->get_new_codigo()}" maxlength="6" autocomplete="off"/>
            </td>
            <td>
               <input class="form-control" type="text" name="nombre" maxlength="50" placeholder="Nueva Tarifa" autocomplete="off"/>
            </td>
            <td>
               <input class="form-control text-right" type="number" step="any" name="dtopor" value="0" autocomplete="off"/>
            </td>
            <td class="text-right">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();" title="Guardar">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
               </button>
            </td>
         </tr>
      </form>
   </table>
</div>
{/if}

<form class="form-horizontal" role="form" name="f_nuevo_articulo" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_nuevo_articulo">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo artículo</h4>
            </div>
            {if="$fsc->familia->all()"}
            <div class="modal-body">
               <div class="form-group">
                  <label for="referencia" class="col-lg-2 col-md-2 col-sm-2 control-label">Referencia</label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <input class="form-control" type="text" name="referencia" maxlength="18" autocomplete="off"/>
                  </div>
               </div>
               <div class="form-group">
                  <label for="codfamilia" class="col-lg-2 col-md-2 col-sm-2 control-label"><a href="{$fsc->familia->url()}">Familia</a></label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <select class="form-control" name="codfamilia">
                        {loop="$fsc->familia->all()"}
                        <option value="{$value->codfamilia}"{if="$value->is_default()"} selected="selected"{/if}>{$value->nivel}{$value->descripcion}</option>
                        {/loop}
                     </select>
                  </div>
               </div>
               <div class="form-group">
                  <label for="codimpuesto" class="col-lg-2 col-md-2 col-sm-2 control-label"><a href="{$fsc->impuesto->url()}">{#FS_IVA#}</a></label>
                  <div class="col-lg-10 col-md-10 col-sm-10">
                     <select class="form-control" name="codimpuesto">
                        {loop="$fsc->impuesto->all()"}
                        <option value="{$value->codimpuesto}"{if="$value->is_default()"} selected="selected"{/if}>{$value->descripcion}</option>
                        {/loop}
                     </select>
                  </div>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
            {else}
            <div class="alert alert-danger">
               No hay <a target="_blank" href="{$fsc->familia->url()}">familias</a> creadas. Debes crear al menos una.
            </div>
            {/if}
         </div>
      </div>
   </div>
</form>

{include="footer"}