{include="header"}

{if="$fsc->factura"}
<script type="text/javascript">
   $(document).ready(function() {
      $("#b_imprimir").click(function(event) {
         event.preventDefault();
         $("#modal_imprimir").modal('show');
      });
      $("#b_enviar").click(function(event) {
         event.preventDefault();
         $("#modal_enviar").modal('show');
         document.enviar_email.email.focus();
      });
      $("#b_eliminar").click(function(event) {
         event.preventDefault();
         $("#modal_eliminar").modal('show');
      });
      {if="$fsc->factura->totalrecargo==0"}
      $(".recargo").hide();
      {/if}
      {if="$fsc->factura->totalirpf==0"}
      $(".irpf").hide();
      {/if}
   });
</script>

<form action="{$fsc->factura->url()}" method="post" class="form">
   <input type="hidden" name="idfactura" value="{$fsc->factura->idfactura}"/>
   <div class="container-fluid">
      <div class="row" style="margin-top: 10px;">
         <div class="col-xs-8">
            <a class="btn btn-sm btn-default hidden-xs" href="{$fsc->url()}" title="recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <div class="btn-group">
               <a id="b_imprimir" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-print"></span>
                  <span class="hidden-xs">&nbsp; Imprimir</span>
               </a>
               {if="$fsc->empresa->can_send_mail()"}
               <a id="b_enviar" class="btn btn-sm btn-default" href="#">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <span class="hidden-xs">&nbsp; Enviar</span>
               </a>
               {/if}
               {if="$fsc->factura->idasiento"}
               <a class="btn btn-sm btn-default" href="{$fsc->factura->asiento_url()}">
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span class="hidden-xs">&nbsp; Asiento contable</span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&gen_asiento=TRUE&petid={$fsc->random_string()}">
                  <span class="glyphicon glyphicon-paperclip"></span>
                  <span class="hidden-xs">&nbsp; Generar asiento</span>
               </a>
               {/if}
            </div>
            
            {if="$fsc->mostrar_boton_pagada"}
            <div class="btn-group">
               {if="$fsc->factura->pagada"}
               <button type="button" class="btn btn-sm btn-info dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-ok"></span> &nbsp; Pagada <span class="caret"></span>
               </button>
               {else}
               <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-remove"></span> &nbsp; Sin pagar <span class="caret"></span>
               </button>
               {/if}
               <ul class="dropdown-menu" role="menu">
                  {if="!$fsc->factura->pagada"}
                  <li><a href="{$fsc->url()}&pagada=TRUE"><span class="glyphicon glyphicon-ok"></span> &nbsp; Pagada</a></li>
                  {else}
                  <li><a href="{$fsc->url()}&pagada=FALSE"><span class="glyphicon glyphicon-remove"></span> &nbsp; Sin pagar</a></li>
                  {/if}
               </ul>
            </div>
            {elseif="$fsc->factura->pagada"}
            <a class="btn btn-sm btn-info" href="#">
               <span class="glyphicon glyphicon-ok"></span>
               <span class="hidden-xs">&nbsp; Pagada</span>
            </a>
            {/if}
            
            <div class="btn-group">
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}&id={$fsc->factura->idfactura}{$value->params}" class="btn btn-sm btn-default">
                  {$value->text}
               </a>
               {/if}
            {/loop}
            </div>
         </div>
         <div class="col-xs-4 text-right">
            <div class="btn-group">
               {if="$fsc->allow_delete"}
               <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span>
                  <span class="hidden-sm hidden-xs">&nbsp; Eliminar</span>
               </a>
               {/if}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                  <span class="hidden-xs">&nbsp; Guardar</span>
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h3 style="margin-bottom: 0px;">
               <a href="{$fsc->ppage->url()}">Facturas</a> /
               <a href="{$fsc->factura->cliente_url()}">{$fsc->factura->nombrecliente}</a> /
               {$fsc->factura->codigo}
            </h3>
            {if="$fsc->agente"}
            <p>Factura creada por <a href="{$fsc->agente->url()}">{$fsc->agente->get_fullname()}</a>.</p>
            {/if}
         </div>
      </div>
      
      <div class="row">
         <div class="col-sm-4">
            <div class="form-group">
               Número 2:
               <input class="form-control" type="text" name="numero2" value="{$fsc->factura->numero2}"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Fecha:
               <input class="form-control datepicker" type="text" name="fecha" value="{$fsc->factura->fecha}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               Hora:
               <input class="form-control" type="text" name="hora" value="{$fsc->factura->hora}" autocomplete="off"/>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group">
               <a href="{$fsc->forma_pago->url()}">Forma de pago</a>:
               <select name="forma_pago" class="form-control">
                  {loop="$fsc->forma_pago->all()"}
                  <option value="{$value->codpago}"{if="$fsc->factura->codpago==$value->codpago"} selected="selected"{/if}>{$value->descripcion}</option>
                  {/loop}
               </select>
            </div>
         </div>
         <div class="col-sm-2">
            <div class="form-group{if="$fsc->factura->vencida()"} has-warning{/if}">
               Vencimiento:
               <input class="form-control datepicker" type="text" name="vencimiento" value="{$fsc->factura->vencimiento}" autocomplete="off"/>
            </div>
         </div>
      </div>
   </div>
   
   <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active">
            <a href="#lineas_f" aria-controls="lineas_f" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Líneas</span>
            </a>
         </li>
         <li role="presentation">
            <a href="#lineas_iva" aria-controls="lineas_iva" role="tab" data-toggle="tab">
               <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
               <span class="hidden-xs">&nbsp; Impuestos</span>
            </a>
         </li>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <li role="presentation">
               <a href="#ext_{$value->name}" aria-controls="ext_{$value->name}" role="tab" data-toggle="tab">{$value->text}</a>
            </li>
            {/if}
         {/loop}
      </ul>
      <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="lineas_f">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left"><span class="text-capitalize">{#FS_ALBARAN#}</span></th>
                        <th class="text-left">Artículo</th>
                        <th class="text-right">Cantidad</th>
                        <th class="text-right">Precio</th>
                        <th class="text-right">Dto</th>
                        <th class="text-right">Neto</th>
                        <th class="text-right">{#FS_IVA#}</th>
                        <th class="recargo text-right">RE</th>
                        <th class="irpf text-right">{#FS_IRPF#}</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->factura->get_lineas()"}
                  <tr{if="$value->cantidad<1"} class="bg-warning"{/if}>
                     <td>
                        {if="$value->idalbaran"}
                        <a href="{$value->albaran_url()}">{$value->albaran_codigo()}</a>
                        {$value->albaran_numero()}
                        {else}
                        -
                        {/if}
                     </td>
                     <td><a href="{$value->articulo_url()}">{$value->referencia}</a> {$value->descripcion}</td>
                     <td class="text-right">{$value->cantidad}</td>
                     <td class="text-right">{$fsc->show_precio($value->pvpunitario, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->dtopor, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->pvptotal, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
                     <td class="recargo text-right">{$fsc->show_numero($value->recargo, 2)} %</td>
                     <td class="irpf text-right">{$fsc->show_numero($value->irpf, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->total_iva(), $fsc->factura->coddivisa)}</td>
                  </tr>
                  {/loop}
                  <tr>
                     <td colspan="5"></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->factura->neto, $fsc->factura->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->factura->totaliva, $fsc->factura->coddivisa)}</b></td>
                     <td class="recargo text-right"><b>{$fsc->show_precio($fsc->factura->totalrecargo, $fsc->factura->coddivisa)}</b></td>
                     <td class="irpf text-right"><b>-{$fsc->show_precio($fsc->factura->totalirpf, $fsc->factura->coddivisa)}</b></td>
                     <td class="text-right"><b>{$fsc->show_precio($fsc->factura->total, $fsc->factura->coddivisa)}</b></td>
                  </tr>
               </table>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="lineas_iva">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Impuesto</th>
                        <th class="text-right">Neto</th>
                        <th class="text-right">{#FS_IVA#}</th>
                        <th class="text-right">Total {#FS_IVA#}</th>
                        <th class="text-right">RE</th>
                        <th class="text-right">Total RE</th>
                        <th class="text-right">Total</th>
                     </tr>
                  </thead>
                  {loop="$fsc->factura->get_lineas_iva()"}
                  <tr>
                     <td>{$value->codimpuesto}</td>
                     <td class="text-right">{$fsc->show_precio($value->neto, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->iva, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->totaliva, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_numero($value->recargo, 2)} %</td>
                     <td class="text-right">{$fsc->show_precio($value->totalrecargo, $fsc->factura->coddivisa)}</td>
                     <td class="text-right">{$fsc->show_precio($value->totallinea, $fsc->factura->coddivisa)}</td>
                  </tr>
                  {/loop}
               </table>
            </div>
         </div>
         {loop="$fsc->extensions"}
            {if="$value->type=='tab'"}
            <div role="tabpanel" class="tab-pane" id="ext_{$value->name}">
               <iframe src="index.php?page={$value->from}{$value->params}&id={$fsc->factura->idfactura}" width="100%" height="600" frameborder="0"></iframe>
            </div>
            {/if}
         {/loop}
      </div>
   </div>
   
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="form-group">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="3">{$fsc->factura->observaciones}</textarea>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal fade" id="modal_imprimir">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Imprimir factura</h4>
         </div>
         <div class="modal-body">
            {loop="$fsc->extensions"}
               {if="$value->type=='pdf'"}
               <a href="index.php?page={$value->from}{$value->params}&id={$fsc->factura->idfactura}" target="_blank" class="btn btn-block btn-default">
                  <span class="glyphicon glyphicon-print"></span> &nbsp; {$value->text}
               </a>
               {/if}
            {/loop}
         </div>
         <div class="modal-footer">
            <a href="{$fsc->url()}&updatedir=TRUE">Actualizar la dirección de la factura.</a>
         </div>
      </div>
   </div>
</div>

<form class="form" role="form" name="enviar_email" action="{$fsc->url()}" method="post">
   <div class="modal" id="modal_enviar">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Enviar factura</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Email del cliente:
                  <input class="form-control" type="text" name="email" value="{$fsc->cliente->email}" autocomplete="off"/>
               </div>
               <div class="form-group">
                  Mensaje:
                  <textarea class="form-control" name="mensaje" rows="6">Buenos días, le adjunto su factura {$fsc->factura->codigo}.
{$fsc->empresa->email_firma}</textarea>
               </div>
            </div>
            <div class="modal-footer">
            {loop="$fsc->extensions"}
               {if="$value->type=='email'"}
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.action='index.php?page={$value->from}{$value->params}&id={$fsc->factura->idfactura}';this.form.submit();">
                  <span class="glyphicon glyphicon-send"></span> &nbsp; Enviar {$value->text}
               </button>
               {/if}
            {/loop}
            </div>
         </div>
      </div>
   </div>
</form>

<div class="modal fade" id="modal_eliminar">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">¿Realmente desea eliminar esta factura?</h4>
         </div>
         {if="$fsc->factura->idasiento"}
         <div class="modal-body">
            Hay asociado un asiento contable que será eliminado junto con la factura.
         </div>
         {/if}
         <div class="modal-footer">
            <a class="btn btn-sm btn-danger" href="{$fsc->ppage->url()}&delete={$fsc->factura->idfactura}">
               <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
            </a>
         </div>
      </div>
   </div>
</div>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

{include="footer"}