{include="header"}

{if="$fsc->grupo"}
<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-xs-6">
         <a class="btn btn-sm btn-default" href="{$fsc->grupo->url()}" title="Recargar la página">
            <span class="glyphicon glyphicon-refresh"></span>
         </a>
         <a class="btn btn-sm btn-default" href="index.php?page=ventas_clientes#grupos">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="hidden-xs">&nbsp; Grupos</span>
         </a>
         <div class="btn-group">
            {if="$fsc->tarifa"}
            <a class="btn btn-sm btn-default" href="{$fsc->tarifa->url()}">
               <span class="glyphicon glyphicon-usd"></span>
               <span class="hidden-xs">&nbsp; Tarifa</span>
            </a>
            {/if}
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Grupo {$fsc->grupo->nombre}</h2>
      </div>
   </div>
</div>
{else}
<div class="thumbnail">
   <img src="view/img/fuuu_face.png" alt="fuuuuu"/>
</div>
{/if}

<ul class="nav nav-tabs">
   <li role="presentation"{if="$fsc->mostrar=='clientes'"} class="active"{/if}>
      <a href="{$fsc->grupo->url()}">
         <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Clientes</span>
      </a>
   </li>
   <li role="presentation"{if="$fsc->mostrar=='facturas'"} class="active"{/if}>
      <a href="{$fsc->grupo->url()}&mostrar=facturas">
         <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
         <span class="hidden-xs">&nbsp; Facturas</span>
      </a>
   </li>
</ul>

{if="$fsc->mostrar=='clientes'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th class="text-left">Código + Nombre</th>
            <th class="text-left">{#FS_CIFNIF#}</th>
            <th class="text-left">Observaciones</th>
            <th class="text-left">Teléfonos</th>
            <th class="text-right">Email</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow" href="{$value->url()}">
         <td><a href="{$value->url()}">{$value->codcliente}</a> {$value->nombre}</td>
         <td>{$value->cifnif}</td>
         <td>{$value->observaciones_resume()}</td>
         <td>{$value->telefono1} &nbsp; {$value->telefono2}</td>
         <td class="text-right">{$value->email}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td colspan="5">Ningún cliente encontrado.</td>
      </tr>
      {/loop}
   </table>
</div>
{elseif="$fsc->mostrar=='facturas'"}
<div class="table-responsive">
   <table class="table table-hover">
      <thead>
         <tr>
            <th></th>
            <th></th>
            <th class="text-left">Código + Número 2</th>
            <th class="text-left">Cliente</th>
            <th class="text-left">Observaciones</th>
            <th class="text-right">Total</th>
            <th class="text-right">Fecha</th>
            <th class="text-right">Hora</th>
         </tr>
      </thead>
      {loop="$fsc->resultados"}
      <tr class="clickableRow{if="$value->total<=0"} bg-warning{/if}" href="{$value->url()}">
         <td class="text-center">
            {if="$value->pagada"}
            <span class="glyphicon glyphicon-ok" title="La factura está pagada"></span>
            {/if}
         </td>
         <td class="text-center">
            {if="$value->idasiento"}
            <span class="glyphicon glyphicon-paperclip" title="La factura tiene vinculado un asiento contable"></span>
            {/if}
         </td>
         <td><a href="{$value->url()}">{$value->codigo}</a> {$value->numero2}</td>
         <td>{$value->nombrecliente}</td>
         <td>{$value->observaciones_resume()}</td>
         <td class="text-right">{$fsc->show_precio($value->total, $value->coddivisa)}</td>
         <td class="text-right">{$value->fecha}</td>
         <td class="text-right">{$value->hora}</td>
      </tr>
      {else}
      <tr class="bg-warning">
         <td></td>
         <td></td>
         <td colspan="6">Ninguna factura encontrada. Pulsa <b>Nueva</b> para crear una.</td>
      </tr>
      {/loop}
   </table>
</div>
{/if}

<ul class="pager">
   {if="$fsc->offset > 0"}
   <li class="previous">
      <a href="{$fsc->grupo->url()}&mostrar={$fsc->mostrar}&offset={$fsc->offset-FS_ITEM_LIMIT}">
         <span class="glyphicon glyphicon-chevron-left"></span> &nbsp; Anteriores
      </a>
   </li>
   {/if}
   
   {if="count($fsc->resultados) == FS_ITEM_LIMIT"}
   <li class="next">
      <a href="{$fsc->grupo->url()}&mostrar={$fsc->mostrar}&offset={$fsc->offset+FS_ITEM_LIMIT}">
         Siguientes &nbsp; <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </li>
   {/if}
</ul>

{include="footer"}