{include="header"}

<script type="text/javascript">
   $(document).ready(function () {
      $("#b_eliminar").click(function (event) {
         event.preventDefault();
         if (confirm("¿Realmente desea eliminar este registro SAT?"))
            window.location.href = '{$fsc->url()}&delete={$fsc->resultado->nsat}';
      });
   });
</script>

<script type="text/javascript">
   /*function show_tab_datos()
   {
      $("#tab_datos").removeClass('active');
      $("#tab_detalles").removeClass('active');
      $("#tab_observaciones").removeClass('active');
      $("#tabc_datos").hide();
      $("#tabc_detalles").hide();
      $("#tabc_observaciones").hide();
      
      $("#tab_datos").addClass('active');
      $("#tabc_datos").show();
   }
   function show_tab_detalles()
   {
      $("#tab_datos").removeClass('active');
      $("#tab_detalles").removeClass('active');
      $("#tab_observaciones").removeClass('active');
      $("#tabc_datos").hide();
      $("#tabc_detalles").hide();
      $("#tabc_observaciones").hide();
      
      $("#tab_detalles").addClass('active');
      $("#tabc_detalles").show();
   }
   function show_tab_observaciones()
   {
      $("#tab_datos").removeClass('active');
      $("#tab_detalles").removeClass('active');
      $("#tab_observaciones").removeClass('active');
      $("#tabc_datos").hide();
      $("#tabc_detalles").hide();
      $("#tabc_observaciones").hide();
      
      $("#tab_observaciones").addClass('active');
      $("#tabc_observaciones").show();
   }*/
   function pestanyas()
   {
      if(window.location.hash.substring(1) == 'detalles')
      {
            show_tab_detalles();
      }
      else if(window.location.hash.substring(1) == 'observaciones')
      {
            show_tab_observaciones();
      }
      else
      {
            show_tab_datos();
      }
   }
    $(document).ready(function() {
       pestanyas();
       window.onpopstate = function() {
         pestanyas();
      };
    });
    
</script>    

<form action="{$fsc->resultado->url()}" method="post" class="form">
   <div class="container-fluid hidden-print" style="margin-top: 10px;">
   <div role="tabpanel">

  

  <!-- Tab panes -->
</div>
      <div class="row">
         <div class="col-md-8">
            <a href="{$fsc->resultado->url()}" class="btn btn-sm btn-default" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            <div class="btn-group">
               <button type="button" class="btn btn-sm btn-default" onclick="window.print();">
                  <span class="glyphicon glyphicon-print"></span> &nbsp; Imprimir
               </button>
               <a href="{$fsc->url()}&codcliente={$fsc->resultado->codcliente}" class="btn btn-sm btn-default">
                  <span class="glyphicon glyphicon-user"></span> &nbsp; Más del cliente
               </a>
               {loop="$fsc->extensions"}
               {if condition="$value->type=='button'"}
               <a href="index.php?page={$value->from}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
               {/loop}
            </div>
         </div>
         <div class="col-md-4 text-right">
            <div class="btn-group">
               <a id="b_eliminar" class="btn btn-sm btn-danger" href="#">
                  <span class="glyphicon glyphicon-trash"></span> &nbsp; Eliminar
               </a>
               <button type="button" class="btn btn-sm btn-primary" onclick="this.disabled = true;
                     this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <h2 style="margin-bottom: 0px;">
               <a href="{$fsc->url()}">SAT</a> /
               <a href="{$fsc->resultado->cliente_url()}">{$fsc->resultado->nombre_cliente}</a> /
               {$fsc->resultado->nsat}
            </h2>
            <p>Fecha entrada: {$fsc->resultado->fentrada}</p>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="form-group">
               Nombre del cliente:
               <input class="form-control" type="text" name="nombre" value="{$fsc->resultado->nombre_cliente}"/>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               Teléfono fijo:
               <input class="form-control" type="text" name="telefono1" value="{$fsc->resultado->telefono1_cliente}"/>
            </div>
         </div>
         <div class="col-md-3">
            <div class="form-group">
               Teléfono móvil:
               <input class="form-control" type="text" name="telefono2" value="{$fsc->resultado->telefono2_cliente}"/>
            </div>
         </div>
      </div>
   </div>

   <div role="tabpanel" class="hidden-print">
			<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#datos" aria-controls="datos" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-wrench"></span> Datos del SAT</a></li>
				<li role="presentation"><a href="#detalles" aria-controls="detalles" role="tab" data-toggle="tab">
					<span class="glyphicon glyphicon-comment"></span>
                     <span class="badge">{$fsc->resultado->num_detalles()}</span> Detalles</a></li>
				<li role="presentation"><a href="#observaciones" aria-controls="observaciones" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-eye-open"></span> Observaciones</a></li>
	
		</ul>

      <div class="tab-content">
	  <div role="tabpanel" class="tab-pane active" id="datos">

            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-9">
                     <div class="form-group">
                        Modelo:
                        <input class="form-control" type="text" name="modelo" value="{$fsc->resultado->modelo}"/>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        {if="$fsc->resultado->posicion==''"}
                        <label STYLE="color:red">Posicion sin asignar</label>
                        {else}
                        <label>Posicion:</label>
                        {/if}
                        <input class="form-control" type="text" name="posicion" value="{$fsc->resultado->posicion}"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3">
                     <div class="form-group">
                        Prioridad:
                        <select name="prioridad" class="form-control">
                           {loop="fsc->listar_prioridad()"}
                           {if="$value['id_prioridad'] == $fsc->resultado->prioridad"}
                           <option value="{$value['id_prioridad']}" selected>{$value['nombre_prioridad']}</option>
                           {else}
                           <option value="{$value['id_prioridad']}">{$value['nombre_prioridad']}</option>
                           {/if}
                           {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        Estado:
                        <select name="estado" class="form-control">
                           {loop="fsc->listar_estados()"}
                           {if="$value['id_estado'] == $fsc->resultado->estado"}
                           <option value="{$value['id_estado']}" selected>{$value['nombre_estado']}</option>
                           {else}
                           <option value="{$value['id_estado']}">{$value['nombre_estado']}</option>
                           {/if}
                           {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        Fecha de comienzo:
                        <input class="form-control datepicker" type="text" name="fcomienzo" value="{$fsc->resultado->fcomienzo}"/>
                     </div>
                  </div>
                  <div class="col-md-3">
                     <div class="form-group">
                        Fecha finalización:
                        <input class="form-control datepicker" type="text" name="ffin" value="{$fsc->resultado->ffin}"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group">
                        Avería:
                        <textarea class="form-control" name="averia" rows="5">{$fsc->resultado->averia}</textarea>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-group">
                        Accesorios:
                        <textarea class="form-control" name="accesorios" rows="5">{$fsc->resultado->accesorios}</textarea>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div role="tabpanel" class="tab-pane" id="detalles">
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Detalle</th>
                        <th class="text-left">Fecha</th>
                        <th></th>
                     </tr>
                  </thead>
                  {loop="fsc->listar_sat_detalle()"}
                  <tr>
                     <td>{$value->descripcion}</td>
                     <td>{$value->fecha}</td>
                     <td><span class="glyphicon glyphicon-edit"></span></td>
                  </tr>
                  {/loop}
                  <tr>
                     <td colspan="3">
                        <a href='#' class="btn btn-info btn-block btn-sm" data-toggle="modal" data-target="#modal_nuevo_detalle">
                           Nuevo detalle
                        </a>
                     </td>
                  </tr>
               </table>
            </div>
         </div>
		 <div role="tabpanel" class="tab-pane" id="observaciones">
            <div class="form-group" style="padding: 10px;">
               Observaciones:
               <textarea class="form-control" name="observaciones" rows="9">{$fsc->resultado->observaciones}</textarea>
            </div>
         </div>
      </div>
   </div>
</form>

<div class="visible-print">
   <div class="col-xs-6">
      <div class="col-xs-12">
         <strong>Nombre:</strong><br/>
         {$fsc->resultado->nombre_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono fijo:</strong><br/>
         {$fsc->resultado->telefono1_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono móvil:</strong><br/>
         {$fsc->resultado->telefono2_cliente}
      </div>
      <div class="col-xs-12">
         <strong>Modelo:</strong><br/>
         {$fsc->resultado->modelo}
      </div>
      <div class="col-xs-12">
         <strong>Averia:</strong><br/>
         {$fsc->resultado->averia}
      </div>
      <div class="col-xs-12">
         <strong>Accesorios:</strong><br/>
         {$fsc->resultado->accesorios}
      </div>
      <div class="col-xs-12">
         <strong>Observaciones:</strong><br/>
         {$fsc->resultado->observaciones}
      </div>
   </div>
   <div class="col-xs-6">
      <h4><strong>Numero de SAT: {$fsc->resultado->nsat}</strong><br/></h4>
      <p>Condiciondes del deposito:<br/>
         Los presupuestos realizados tienen una<br/>
         validez de 15 dias<br/>
         Una vez avisado al cliente para que recoja
         el producto este dispondrá de un plazo maximo de
         2 meses para recogerlo, de no ser así y no
         haber aviso por parte del cliente se empezará a
         cobrar 1 euro al dia por gasto de almacenaje.<br/>
         Los accesorios y productos externos al equipo 
         no especificados en este documento no podran ser
         reclamados en caso de disconformidad con el tecnico.
      </p>
      <h4>
         Servicio prestado por: {$fsc->empresa->nombre}<br/>
         {if="$fsc->agente"}
         Le a atendido el tecnico: <strong>{$fsc->agente->get_fullname()}</strong><br/>
         {/if}
         Tlf: <strong>{$fsc->empresa->telefono}</strong> Email: <strong>{$fsc->empresa->email}</strong><br/>
      </h4>
   </div>
   <p>...............................................................................................................................................................................................</p>
   <div class="col-xs-6">
      <div class="col-xs-6">
         <h4><strong>Numero de SAT: {$fsc->resultado->nsat}</strong><br/></h4>
      </div>
      <div class="col-xs-6">
         <h4><strong>Prioridad</strong><br/>
            {loop="fsc->listar_prioridad()"}
            {if="$value['id_prioridad'] == $fsc->resultado->prioridad"}
            {$value['nombre_prioridad']}
            {/if}
            {/loop}
         </h4>
      </div>
      <div class="col-xs-6">
         <h4><strong>Comienzo:</strong><br/>
            {$fsc->resultado->fcomienzo}</h4>
      </div>
      <div class="col-xs-6">
         <h4><strong>Final:</strong><br/>
            {$fsc->resultado->ffin}</h4>
      </div>
      <div class="col-xs-12">
         <strong>Nombre:</strong><br/>
         {$fsc->resultado->nombre_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono fijo:</strong><br/>
         {$fsc->resultado->telefono1_cliente}
      </div>
      <div class="col-xs-6">
         <strong>Teléfono móvil:</strong><br/>
         {$fsc->resultado->telefono2_cliente}
      </div>
      <div class="col-xs-12">
         <strong>Modelo:</strong><br/>
         {$fsc->resultado->modelo}
      </div>
      <div class="col-xs-12">
         <strong>Averia:</strong><br/>
         {$fsc->resultado->averia}
      </div>
      <div class="col-xs-12">
         <strong>Accesorios:</strong><br/>
         {$fsc->resultado->accesorios}
      </div>
      <div class="col-xs-12">
         <strong>Observaciones:</strong><br/>
         {$fsc->resultado->observaciones}
      </div>
   </div>

   <div class="col-xs-6">
      <br/>
      Notas:
      <br/>  
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
   </div>
</div>

<div class="modal fade" id="modal_nuevo_detalle">
   <div class="modal-dialog">
      <div class="modal-content">
         <form name="f_nuevo_cliente" action="{$fsc->resultado->url()}#detalles" method="post" class="form">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title">Nuevo detalle</h4>
            </div>
            <div class="modal-body">
               <div class="form-group">
                  Descripcion del detalle:
                  <textarea class="form-control" name="detalle" autofocus></textarea>
               </div>
            </div>
            <div class="modal-footer">
               <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled = true;
                     this.form.submit();">
                  <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
               </button>
            </div>
         </form>
      </div>
   </div>
</div>

{include="footer"}