{include="header"}
<a href="{$fsc->url()}">Visualizar</a>
<a href="{$fsc->url()}&funcion=listar_clientes">Listar clientes</a>
<a href="{$fsc->url()}&funcion=listar_familias">Listar familias</a>
<a href="{$fsc->url()}&funcion=listar_articulos">Listar articulos</a>
<a href="{$fsc->url()}&funcion=listar_facturas">Listar facturas</a>
<a href="{$fsc->url()}&funcion=resetear">Resetear</a>
<a href="{$fsc->url()}&funcion=importar_clientes">Importar Clientes</a>
<a href="{$fsc->url()}&funcion=importar_familias">Importar Familias</a>
<a href="{$fsc->url()}&funcion=importar_articulos">Importar Articulos</a>
<a href="{$fsc->url()}&funcion=importar_facturas">Importar Facturas</a>

<div class="container-fluid">
   <div class="row">
      <h1 class="text-center">Clientes</h1>
      <div class="table-responsive">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th align='left'>DNI</th>
                  <th align='left'>Nombre</th>
                  <th align='left'>codcliente</th>
                  <th align='left'>direccion</th>
              </tr>
              </thead>
              {loop="$fsc->listar_clientes()"}
              <tr>
                  <td>{$value['cifnif']}</td>
                  <td>{$value['nombre']}</td>
                  <td>{$value['codcliente']}</td>
                  <td>{$value['direccion']}</td>
              </tr>
              {else}
              <tr class="bg-warning">
                  <td colspan="5">Sin resultados.</td>
              </tr>
              {/loop}
          </table>
       </div>
    </div>
</div>


{include="footer"}
