{include="header"}

<a href="{$fsc->url()}">Visualizar</a>
<a href="{$fsc->url()}&funcion=listar_clientes">Listar clientes</a>
<a href="{$fsc->url()}&funcion=listar_familias">Listar familias</a>
<a href="{$fsc->url()}&funcion=listar_articulos">Listar articulos</a>
<a href="{$fsc->url()}&funcion=listar_facturas">Listar facturas</a>
<a href="{$fsc->url()}&funcion=resetear">Resetear</a>
<a href="{$fsc->url()}&funcion=importar_clientes">Importar Clientes</a>
<a href="{$fsc->url()}&funcion=importar_familias">Importar Familias</a>
<a href="{$fsc->url()}&funcion=importar_articulos">Importar Articulos</a>
<a href="{$fsc->url()}&funcion=importar_facturas">Importar Facturas</a>


{include="footer"}
