{include="header"}

<script type="text/javascript">
   function fs_marcar_todo()
   {
      $('#f_enable_pages input:checkbox').prop('checked', true);
   }
   function fs_marcar_nada()
   {
      $('#f_enable_pages input:checkbox').prop('checked', false);
   }
   function eliminar(name)
   {
      if( confirm("¿Realmente desea eliminar este plugin?") )
      {
         window.location.href = '{$fsc->url()}&delete_plugin='+name+'#plugins';
      }
   }
   $(document).ready(function() {
      if(window.location.hash.substring(1) == 'paginas')
      {
         $('#tab_panel_control a[href="#t_paginas"]').tab('show');
      }
      else if(window.location.hash.substring(1) == 'plugins')
      {
         $('#tab_panel_control a[href="#t_plugins"]').tab('show');
      }
      else if(window.location.hash.substring(1) == 'descargas')
      {
         $('#tab_panel_control a[href="#t_descargas"]').tab('show');
      }
      else if(window.location.hash.substring(1) == 'avanzado')
      {
         $('#tab_panel_control a[href="#t_avanzado"]').tab('show');
      }
   });
</script>

{if="!$fsc->step"}
<div class="well">
   <div class="page-header" style="margin-top: 0px;">
      <h1>¡Bienvenido a FacturaScripts {$fsc->version()}!</h1>
   </div>
   <p>
      FacturaScripts tiene un desarrollo muy acelerado y en muchas direcciones distintas,
      por eso estamos dividiendo el código en <b>plugins</b>, para que puedas activar solo aquello
      que necesitas.
   </p>
   <a href="#" class="btn btn-sm btn-info" onclick="fs_marcar_todo();f_enable_pages.submit();">
      <span class="glyphicon glyphicon-ok"></span> &nbsp; Continuar
   </a>
</div>
{elseif="$fsc->step=='1'"}
<div class="well">
   <div class="page-header" style="margin-top: 0px;">
      <h1>Plugins</h1>
   </div>
   <p>
      En esta nueva versión hemos decidido que cada plugin sea un desarrollo independiente,
      esto nos permitirá tener tiempos de desarrollo distintos en cada plugin,
      sin tener que lanzar una actualización completa solo porque se ha solucionado un fallo
      en un plugin.
   </p>
   <p>
      Además, toda la facturación y contabilida básica ha sido movida al plugin <mark>facturacion_base</mark>.
   </p>
   <a href="{$fsc->url()}&caca={$fsc->random_string(4)}&download=facturacion_base#plugins" class="btn btn-sm btn-info">
      <span class="glyphicon glyphicon-upload"></span> &nbsp; Descargar facturacion_base
   </a>
</div>
{elseif="$fsc->step=='2'"}
<div class="well">
   <div class="page-header" style="margin-top: 0px;">
      <h1>Tu empresa</h1>
   </div>
   <p>
      Ya falta poco. Ahora tienes que escribir el nombre de la empresa, la dirección, etc...
   </p>
   <a href="index.php?page=admin_empresa" class="btn btn-sm btn-info">
      <span class="glyphicon glyphicon-edit"></span> &nbsp; Datos de la empresa
   </a>
</div>
{else}
<div class="container-fluid" style="margin-top: 10px;">
   <div class="row">
      <div class="col-xs-6">
         <div class="btn-group">
            <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
               <span class="glyphicon glyphicon-refresh"></span>
            </a>
            {if="$fsc->page->is_default()"}
            <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="desmarcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {else}
            <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="marcar como página de inicio">
               <span class="glyphicon glyphicon-home"></span>
            </a>
            {/if}
         </div>
         <div class="btn-group">
            <a class="btn btn-sm {if="$fsc->check_for_updates()"}btn-info{else}btn-default{/if}" href="updater.php" title="Actualizador">
               <span class="glyphicon glyphicon-upload"></span>
               <span class="hidden-xs">&nbsp; Actualizador</span>
            </a>
            {loop="$fsc->extensions"}
               {if="$value->type=='button'"}
               <a href="index.php?page={$value->from}{$value->params}" class="btn btn-sm btn-default">{$value->text}</a>
               {/if}
            {/loop}
         </div>
      </div>
      <div class="col-xs-6 text-right">
         <h2 style="margin-top: 0px;">Panel de control</h2>
      </div>
   </div>
</div>
{/if}

<div id="tab_panel_control" role="tabpanel">
   <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
         <a href="#t_paginas" aria-controls="t_paginas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-duplicate"></span>
            <span class="hidden-xs">&nbsp; Páginas</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#t_plugins" aria-controls="t_plugins" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-dashboard"></span>
            <span class="hidden-xs">&nbsp; Plugins</span>
         </a>
      </li>
      <li role="presentation">
         <a href="#t_descargas" aria-controls="t_descargas" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-download-alt"></span>
            <span class="hidden-xs">&nbsp; Descargas</span>
            {if="$fsc->new_downloads>0"}
            <span class="badge" title="Hay {$fsc->new_downloads} nuevas descargas">{$fsc->new_downloads}</span>
            {/if}
         </a>
      </li>
      <li role="presentation">
         <a href="#t_avanzado" aria-controls="t_avanzado" role="tab" data-toggle="tab">
            <span class="glyphicon glyphicon-wrench"></span>
            <span class="hidden-xs">&nbsp; Avanzado</span>
         </a>
      </li>
   </ul>
   <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="t_paginas">
         <form id="f_enable_pages" action="{$fsc->url()}" method="post" class="form">
            <input type="hidden" name="modpages" value="TRUE"/>
            {if="count($fsc->paginas)>10"}
            <div class="container-fluid" style="margin-top: 15px; margin-bottom: 10px;">
               <div class="row">
                  <div class="col-xs-6">
                     <div class="btn-group">
                        <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                           <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                           <span class="glyphicon glyphicon-unchecked"></span>
                        </button>
                     </div>
                  </div>
                  <div class="col-xs-6 text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="hidden-xs">&nbsp; Guardar</span>
                     </button>
                  </div>
               </div>
            </div>
            {/if}
            <div class="table-responsive">
               <table class="table table-hover">
                  <thead>
                     <tr>
                        <th class="text-left">Página</th>
                        <th class="text-left">Menú</th>
                        <th class="text-left">Versión</th>
                        <th class="text-center">Importante</th>
                        <th class="text-center">Existe</th>
                     </tr>
                  </thead>
                  {loop="$fsc->paginas"}
                  <tr{if="!$value->exists"} class="bg-danger"{/if}>
                     <td>
                        <input class="checkbox-inline" type="checkbox" name="enabled[]" value="{$value->name}"{if="$value->enabled"} checked="checked"{/if}/>
                        &nbsp; <a target="_blank" href="{$value->url()}">{$value->name}</a>
                     </td>
                     <td>
                        {if="$value->show_on_menu"}
                        <span class="text-capitalize">{$value->folder}</span> » {$value->title}
                        {else}
                        -
                        {/if}
                     </td>
                     <td>{$value->version}</td>
                     <td class="text-center">{if="$value->important"}<span class="glyphicon glyphicon-ok"></span>{/if}</td>
                     <td class="text-center">{if="$value->exists"}<span class="glyphicon glyphicon-ok"></span>{/if}</td>
                  </tr>
                  {/loop}
               </table>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xs-6">
                     <div class="btn-group">
                        <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_todo()" title="Marcar todo">
                           <span class="glyphicon glyphicon-check"></span>
                        </button>
                        <button class="btn btn-sm btn-default" type="button" onclick="fs_marcar_nada()" title="Desmarcar todo">
                           <span class="glyphicon glyphicon-unchecked"></span>
                        </button>
                     </div>
                  </div>
                  <div class="col-xs-6 text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="hidden-xs">&nbsp; Guardar</span>
                     </button>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="t_plugins">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th class="text-left">Plugin</th>
                     <th class="text-left">Descripción</th>
                     <th class="text-right">Versión</th>
                     <th class="text-right">
                        <span class="glyphicon glyphicon-flash" aria-hidden="true" title="Prioridad"></span>
                     </th>
                     <th class="text-right" width="190">Acciones</th>
                  </tr>
               </thead>
               {loop="$fsc->plugin_advanced_list()"}
               <tr{if="!$value['compatible']"} class="bg-danger"{elseif="$value['enabled']"} class="bg-success"{/if}>
                  <td>{$value['name']}</td>
                  <td>
                     <p>{$value['description']}</p>
                     {if="$value['download2_url']!=''"}
                     <a href="#" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal_update_plugin">
                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Actualiza!
                     </a>
                     {/if}
                  </td>
                  <td class="text-right">
                     <a href="{#FS_COMMUNITY_URL#}/index.php?page=community_changelog&plugin={$value['name']}&version={$value['version']}" target="_blank">
                        {$value['version']}
                     </a>
                  </td>
                  <td class="text-right">{$value['prioridad']}</td>
                  <td class="text-right">
                     {if="$value['enabled']"}
                     <a class="btn btn-sm btn-danger" href="{$fsc->url()}&disable={$value['name']}#plugins">
                        <span class="glyphicon glyphicon-remove"></span> &nbsp; Desactivar
                     </a>
                     {else}
                     <div class="btn-group">
                        {if="$value['compatible']"}
                        <a class="btn btn-sm btn-default" href="{$fsc->url()}&enable={$value['name']}#plugins">
                           <span class="glyphicon glyphicon-ok"></span> &nbsp; Activar
                        </a>
                        {else}
                        <a class="btn btn-sm btn-default" href="#">
                           <span class="glyphicon glyphicon-remove"></span> &nbsp; Incompatible
                        </a>
                        {/if}
                        <a class="btn btn-sm btn-default" onclick="eliminar('{$value['name']}')" title="eliminar plugin">
                           <span class="glyphicon glyphicon-trash"></span>
                        </a>
                     </div>
                     {/if}
                  </td>
               </tr>
               {else}
               <tr class="bg-warning">
                  <td colspan="5">No tienes plugin instalados. Mira en la pestaña <b>Descargas</b>.</td>
               </tr>
               {/loop}
            </table>
         </div>
         <div class="container-fluid">
            <div class="row">
               <div class="col-xs-12">
                  <div class="btn-group">
                     <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_add_plugin">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        <span class="hidden-xs">&nbsp; Añadir</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="t_descargas">
         <div class="table-responsive">
            <table class="table table-hover">
               <thead>
                  <tr>
                     <th></th>
                     <th class="text-left">Plugin</th>
                     <th class="text-left">Descripción</th>
                     <th></th>
                  </tr>
               </thead>
               {loop="$fsc->download_list"}
               <tr{if="file_exists('plugins/'.$key)"} class="bg-success"{/if}>
                  <td class="text-right">
                     <span class="glyphicon glyphicon-bookmark" aria-hidden="true" title="Destacado"></span>
                  </td>
                  <td>{$key}</td>
                  <td>{$value['description']}</td>
                  <td class="text-right">
                     {if="file_exists('plugins/'.$key)"}
                     <a href="{$fsc->url()}&caca={$fsc->random_string(4)}#plugins" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp; Instalado
                     </a>
                     {else}
                     <a href="{$fsc->url()}&caca={$fsc->random_string(4)}&download={$key}#plugins" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> &nbsp; Descargar
                     </a>
                     {/if}
                  </td>
               </tr>
               {/loop}
               {loop="$fsc->download_list2"}
               <tr{if="file_exists('plugins/'.$value->nombre)"} class="bg-success"{elseif="!$value->estable"} class="bg-warning"{elseif="$value->nuevo"} class="bg-info"{/if}>
                  <td>
                     {if="!$value->estable"}
                     <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" title="Todavía en desarrollo. Inestable."></span>
                     {/if}
                  </td>
                  <td>{$value->nombre}</td>
                  <td>
                     {$value->descripcion}<br/>
                     {if="substr($value->zip_link, -4) == '.zip'"}
                     <a href="{$value->link}" target="_blank">Web del proyecto</a>. &nbsp;
                     {/if}
                     Autor: {$value->nick}.
                  </td>
                  <td class="text-right">
                     {if="file_exists('plugins/'.$value->nombre)"}
                     <a href="{$fsc->url()}&caca={$fsc->random_string(4)}#plugins" class="btn btn-xs btn-default">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> &nbsp; Instalado
                     </a>
                     {elseif="substr($value->zip_link, -4) == '.zip'"}
                     <a href="{$fsc->url()}&caca={$fsc->random_string(4)}&download2={$value->id}#plugins" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> &nbsp; Descargar
                     </a>
                     {else}
                     <a href="{$value->link}" target="_blank" class="btn btn-xs btn-info">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> &nbsp; Comprar
                     </a>
                     {/if}
                  </td>
               </tr>
               {/loop}
            </table>
         </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="t_avanzado">
         <form class="form" action="{$fsc->url()}&caca={$fsc->random_string(4)}#avanzado" method="post">
            <div class="container-fluid" style="margin-top: 10px;">
               <div class="row">
                  <div class="col-md-3 col-sm-4">
                     <div class="form-group">
                        Zona horaria:
                        <select class="form-control" name="zona_horaria">
                        {loop="$fsc->get_timezone_list()"}
                           {if="isset($GLOBALS['config2']['zona_horaria'])"}
                           <option value="{$value['zone']}"{if="$value['zone']==$GLOBALS['config2']['zona_horaria']"} selected="selected"{/if}>
                              {$value['diff_from_GMT']} - {$value['zone']}
                           </option>
                           {else}
                           <option value="{$value['zone']}">{$value['diff_from_GMT']} - {$value['zone']}</option>
                           {/if}
                        {/loop}
                        </select>
                     </div>
                  </div>
                  <div class="form-group col-md-3 col-sm-3">
                     Portada:
                     <select name="homepage" class="form-control">
                        {loop="$fsc->paginas"}
                        <option value="{$value->name}"{if="$value->name==$GLOBALS['config2']['homepage']"} selected="selected"{/if}>{$value->name}</option>
                        {/loop}
                     </select>
                  </div>
                  <div class="form-group col-md-3 col-sm-3">
                     Decimales:
                     <select name="nf0" class="form-control">
                     {loop="$fsc->nf0()"}
                        <option value="{$value}"{if="$value==$GLOBALS['config2']['nf0']"} selected="selected"{/if}>{$value}</option>
                     {/loop}
                     </select>
                  </div>
                  <div class="form-group col-md-3 col-sm-3">
                     Separador para los Decimales:
                     <select name="nf1" class="form-control">
                     {loop="$fsc->nf1()"}
                        <option value="{$key}"{if="$key==$GLOBALS['config2']['nf1']"} selected="selected"{/if}>{$value}</option>
                     {/loop}
                     </select>
                  </div>
                  <div class="form-group col-md-3 col-sm-3">
                     Separador para los Millares:
                     <select name="nf2" class="form-control">
                        <option value="">(Ninguno)</option>
                        {loop="$fsc->nf1()"}
                        <option value="{$key}"{if="$key==$GLOBALS['config2']['nf2']"} selected="selected"{/if}>{$value}</option>
                        {/loop}
                     </select>
                  </div>
                  <div class="form-group col-md-3 col-sm-3">
                     Símbolo Divisa:
                     <select name="pos_divisa" class="form-control">
                        <option value="right"{if="$GLOBALS['config2']['pos_divisa']=='right'"} selected="selected"{/if}>A la Derecha del Número</option>
                        <option value="left"{if="$GLOBALS['config2']['pos_divisa']=='left'"} selected="selected"{/if}>A la Izquierda del Número</option>
                     </select>
                  </div>
                  <div class="col-md-3 col-sm-4">
                     <div class="form-group">
                         Nº de la primera factura de venta:
                        <input class="form-control" type="number" name="nfactura_cli" value="{$GLOBALS['config2']['nfactura_cli']}"/>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <h2>Traducciones:</h2>
                  </div>
               </div>
               <div class="row">
                  {loop="$fsc->traducciones()"}
                  <div class="col-md-2 col-sm-3">
                     <div class="form-group">
                        <span class="text-capitalize">{$value['nombre']}:</span>
                        <input class="form-control" type="text" name="{$value['nombre']}" value="{$value['valor']}"/>
                     </div>
                  </div>
                  {/loop}      
               </div>
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <h2>Artículos:</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Precio de coste:
                        <select name="cost_is_average" class="form-control">
                           <option value="1"{if="$GLOBALS['config2']['cost_is_average']==1"} selected='selected'{/if}>Calculado</option>
                           <option value="0"{if="$GLOBALS['config2']['cost_is_average']==0"} selected='selected'{/if}>Editable</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Al comprar, añadir con:
                        <select name="precio_compra" class="form-control">
                           <option value="coste"{if="$GLOBALS['config2']['precio_compra']=='coste'"} selected='selected'{/if}>Precio de coste</option>
                           <option value="pvp"{if="$GLOBALS['config2']['precio_compra']=='pvp'"} selected='selected'{/if}>PVP</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Permitir stock negativo:
                        <select name="stock_negativo" class="form-control">
                           <option value="1"{if="$GLOBALS['config2']['stock_negativo']==1"} selected='selected'{/if}>Si</option>
                           <option value="0"{if="$GLOBALS['config2']['stock_negativo']==0"} selected='selected'{/if}>No</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Permitir ventas sin stock:
                        <select name="ventas_sin_stock" class="form-control">
                           <option value="1"{if="$GLOBALS['config2']['ventas_sin_stock']==1"} selected='selected'{/if}>Si</option>
                           <option value="0"{if="$GLOBALS['config2']['ventas_sin_stock']==0"} selected='selected'{/if}>No</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12 col-sm-12">
                     <h2>En desarrollo:</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Comprobaciones en la base de datos:
                        <select name="check_db_types" class="form-control">
                           <option value="true"{if="$GLOBALS['config2']['check_db_types']=='true'"} selected='selected'{/if}>
                              Comprobar los tipos de las columnas de las tablas
                           </option>
                           <option value="false"{if="$GLOBALS['config2']['check_db_types']=='false'"} selected='selected'{/if}>
                              No comprobar los tipos
                           </option>
                        </select>
                     </div>
                  </div>
                  <div class="col-md-2 col-sm-2">
                     <div class="form-group">
                        Comprobar claves ajenas:
                        <select name="foreign_keys" class="form-control">
                           <option value="1"{if="$GLOBALS['config2']['foreign_keys']==1"} selected='selected'{/if}>Si</option>
                           <option value="0"{if="$GLOBALS['config2']['foreign_keys']==0"} selected='selected'{/if}>No</option>
                        </select>
                        <p class="help-block">Sólo se puede desactivar en MySQL.</p>
                     </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                     <div class="form-group">
                        Permitir acceso desde estas IPs:
                        <input class="form-control" type="text" name="ip_whitelist" value="{$GLOBALS['config2']['ip_whitelist']}"/>
                        <p class="help-block">Los admninistradores pueden acceder desde cualquier IP.</p>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Generar los libros contables:
                        <select name="libros_contables" class="form-control">
                           <option value="1"{if="$GLOBALS['config2']['libros_contables']==1"} selected='selected'{/if}>Si</option>
                           <option value="0"{if="$GLOBALS['config2']['libros_contables']==0"} selected='selected'{/if}>No</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                        Algoritmo de nuevo código:
                        <select name="new_codigo" class="form-control">
                           <option value="eneboo"{if="$GLOBALS['config2']['new_codigo']=='eneboo'"} selected='selected'{/if}>Compatible con Eneboo</option>
                        </select>
                     </div>
                  </div>
               </div>
               <div class="row" style="margin-top: 20px;">
                  <div class="col-md-6 col-sm-6">
                     <button class="btn btn-sm btn-danger" type="button" onclick="window.location.href='{$fsc->url()}&caca={$fsc->random_string(4)}&reset=TRUE#avanzado'">
                        <span class="glyphicon glyphicon-trash"></span> &nbsp; Reiniciar
                     </button>
                  </div>
                  <div class="col-md-6 col-sm-6 text-right">
                     <button class="btn btn-sm btn-primary" type="submit" onclick="this.disabled=true;this.form.submit();">
                        <span class="glyphicon glyphicon-floppy-disk"></span> &nbsp; Guardar
                     </button>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_add_plugin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Añadir un plugin</h4>
         </div>
         <div class="modal-body">
            <p>Si tienes un plugin en un archivo .zip, puedes subirlo e instalarlo desde aquí.</p>
            <form class="form" action="{$fsc->url()}#plugins" enctype="multipart/form-data" method="post">
               <input type="hidden" name="install" value="TRUE"/>
               <div class="form-group">
                  <input type="file" name="fplugin" accept="application/zip"/>
               </div>
               <p class="help-block">
                  Este servidor admite un tamaño máximo de {$fsc->get_max_file_upload()} MB
               </p>
               <button type="submit" class="btn btn-primary" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-import" aria-hidden="true"></span> &nbsp; Añadir
               </button>
            </form>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="modal_update_plugin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel2">Actualizar un plugin de pago</h4>
         </div>
         <div class="modal-body">
            <p>
               Si tienes el archivo .zip de la última versión del plugin, puedes subirlo e instalarlo desde aquí.
            </p>
            <form class="form" action="{$fsc->url()}#plugins" enctype="multipart/form-data" method="post">
               <input type="hidden" name="install" value="TRUE"/>
               <div class="form-group">
                  <input type="file" name="fplugin" accept="application/zip"/>
               </div>
               <p class="help-block">
                  Este servidor admite un tamaño máximo de {$fsc->get_max_file_upload()} MB
               </p>
               <button type="submit" class="btn btn-primary" onclick="this.disabled=true;this.form.submit();">
                  <span class="glyphicon glyphicon-import" aria-hidden="true"></span> &nbsp; Añadir
               </button>
            </form>
         </div>
      </div>
   </div>
</div>

{include="footer"}